input,select,textarea,button { font-family: 'Noto Sans KR',sans-serif;  outline: 0; background-color: transparent;}
input,textarea { color: #000 !important}

/* font */
.lh1 { line-height: 1;}

:root {
    --color_000 : #000 ;
    --color_fff : #fff;
    --color_blue:#008ecb;
    --color_blue2:#008ecb;
    --color_red : #f00;
    --color_red2 : #de4f41;
    --color_gray : #434343;
    --color_313131 : #313131;
    --ls75 : -0.075em;
    --ls50 : -0.050em;
    --ls25 : -0.025em;
    --ls20 : -0.020em;

}

.dp_b { display: block !important;}
.dp_inb { display: inline-block !important;}
.dp_none {display: none !important; }
.dp_in {display: inline !important; }

/* font-weight */
.fw300 { font-weight: 300}
.fw400 { font-weight: 400}
.fw500 { font-weight: 500}
.fw600 { font-weight: 600}
.fw700 { font-weight: 700}
.fw800 { font-weight: 800}
.fw900 { font-weight: 900}
.fwB { font-weight: bold;}
/* font-size */
.fs0 { font-size: 0}
/* letter-spacing */
.ls75 { letter-spacing: -0.075em;}
.ls50 { letter-spacing: -0.050em;}
.ls20 { letter-spacing: -0.020em;}
.ls25 { letter-spacing: -0.025em;}
.lh1 { line-height: 1}
.lh12 { line-height: 1.2}
.lh13 { line-height: 1.3}
.lh14 { line-height: 1.4}
.lh15 { line-height: 1.5}
.lh16 { line-height: 1.6}
.lh17 { line-height: 1.7}
/* bg */
.bg_blue { background-color: var(--color_blue) !important;}
.bg_red { background-color:#f00 !important}
.bg_red2 { background-color:#de4f41 !important; color: #fff !important;}
.bg_gray { background-color: #434343 !important; color: #fff !important;}
.bg_navy { background-color: #373b46 !important;}
.bg_navy * {  color: #fff}

/* btn */
.btn_red { background-color:var(--color_red) !important; color: #fff !important; }
.btn_red2 { background-color:var(--color_red2) !important; color: #fff !important; }
.btn_blue { background-color:var(--color_blue) !important; color: #fff !important; }
.btn_center { display: table; margin: 0 auto; text-align: center;}
.btn_red { background: #f00 !important; color: #fff}
.wrap_btn.flex.space > * { width: 49%;}


/* font */
.f_NotoSansKR { font-family: 'Noto Sans KR', sans-serif !important; }
.f_GmarketSans { font-family: 'GmarketSans', sans-serif !important; }
.f_Montserrat { font-family: 'Montserrat', sans-serif !important; }

.bt { border-top: 1px solid #000}
.bb { border-bottom: 1px solid #000}
.border_dcdcdc { border-color: #dcdcdc !important}
.border_e6e6e6 { border-color: #e6e6e6 !important}
.va_mid { vertical-align: middle;}

/* color */
.color_blue { color: var(--color_blue) !important}
.color_blue2 { color: var(--color_blue2) !important}
.color_red { color: #de4f41 !important}
.color_red2 { color: #e60012 !important}
.color_red3 { color: #ff0101 !important}
.color_000 { color: #000 !important}
.color_fff { color: #fff !important}
.color_ylw { color: #fffc00 !important}
.color_666 { color: #666 !important}

.wrap_img > img { width: 100%}
.list_type1 > li > a { display: block; border: 1px solid #ddd;border-radius: 0.5rem; box-sizing: border-box;}
.list_bul.gray { color: #676767; font-size: 0.8rem;}
.list_bul > li { padding-left: 0.6rem; position: relative; }
.list_bul > li.nonebul:before { display: none}
.list_bul > li:before { position: absolute; left: 0; top: 0.75em; content: ""; display: inline-block; width: 0.25em; height: 0.25em; background: #666; vertical-align: middle; border-radius: 100%}
.list_bul2 > li > p:before { content: ""; display: inline-block; margin-right: 6px; width: 2px; height: 2px; background: #bfbfbf; vertical-align: middle;}


.bx_gray { background: #eee;}
