
html { font-size: 20px;}
body { word-break: keep-all; font-size: 1rem; font-family: 'Noto Sans KR',sans-serif; letter-spacing: -0.075em;}
input::-webkit-input-placeholder,
input::placeholder,
input::-ms-input-placeholder,
input:-ms-input-placeholder { color: #000}
input[type="file"] { position: absolute; width: 0  !important; height: 0 !important; padding: 0 !important; overflow: hidden; border: 0; }
input[type="checkbox"] { position: absolute; left: -3000px}
input,select,textarea,button { font-family: 'Noto Sans KR',sans-serif; outline: 0; background-color: transparent;}
input,textarea { color: #000 !important}
i { font-style: normal;}
main{display: block; min-height: 100vh; box-sizing: border-box;}


/* font */
.lh1 { line-height: 1;}

:root {
    --color-blue:#044ed7;
    --color-white:;
    --color-gray1:#3d3f41;
    --color-gray2:#dbdddf;
    --color-gray3:#ebedf0;
    --color-gray4:#f8f4f1;
    --color-red:#e43b46;
    }


.dp_b { display: block !important;}
.dp_inb { display: inline-block !important;}
.dp_none {display: none !important; }
.dp_in {display: inline !important; }

/* responsive */
.pc{display: block;}
.pc.flex{display: flex;}
.mobile{display: none;}

/* center align */
.txt_center { text-align: center;}
.dp_center { display:block; margin: 0 auto; }

/* font-weight */
.fw300 { font-weight: 300}
.fw400 { font-weight: 400}
.fw500 { font-weight: 500}
.fw600 { font-weight: 600}
.fw700 { font-weight: 700}
.fw800 { font-weight: 800}
.fw900 { font-weight: 900}
.fwB { font-weight: bold;}
/* font-size */
.fs0 { font-size: 0}
/* letter-spacing */
.ls75 { letter-spacing: -0.075em;}
.ls50 { letter-spacing: -0.050em;}
.ls20 { letter-spacing: -0.020em;}
.ls25 { letter-spacing: -0.025em;}
.lh1 { line-height: 1}
.lh12 { line-height: 1.2}
.lh13 { line-height: 1.3}
.lh14 { line-height: 1.4}
.lh15 { line-height: 1.5}
.lh16 { line-height: 1.6}
.lh17 { line-height: 1.7}

/* bg */
.bg_blue { background-color: var(--color-blue) !important;}


/* font */
.f_NotoSansKR { font-family: 'Noto Sans KR', sans-serif !important; }
.f_GmarketSans { font-family: 'GmarketSans', sans-serif !important; }
.f_Montserrat { font-family: 'Montserrat', sans-serif !important; }

.bt { border-top: 1px solid #000}
.bb { border-bottom: 1px solid #000}
.border_dcdcdc { border-color: #dcdcdc !important}
.border_e6e6e6 { border-color: #e6e6e6 !important}
.va_mid { vertical-align: middle;}

/* color */
.color_blue { color: var(--color-blue) !important}
.color_red { color: var(--color-red) !important}
.color_000 { color: #000 !important}
.color_fff { color: #fff !important}
.bx_gray { background: #eee;}


.fs15 { font-size: 0.75rem !important}
.fs16 { font-size: 0.8rem !important}
.fs17 { font-size: 0.85rem !important}
.fs18 { font-size: 0.9rem !important}
.fs19 { font-size: 0.95rem !important}
.fs20 { font-size: 1rem !important}
.fs21 { font-size: 1.05rem !important}
.fs22 { font-size: 1.1rem !important}
.fs23 { font-size: 1.15rem !important}
.fs24 { font-size: 1.2rem !important}
.fs25 { font-size: 1.25rem !important}
.fs26 { font-size: 1.3rem !important}
.fs27 { font-size: 1.35rem !important}
.fs28 { font-size: 1.4rem !important}

.pb5 { padding-bottom: 0.25rem}
.pb10 { padding-bottom: 0.5rem}
.pb20 { padding-bottom: 1rem}
.pb30 { padding-bottom: 1.5rem}

.pt5 { padding-top: 0.25rem}
.pt10 { padding-top: 0.5rem}
.pt20 { padding-top: 1rem}
.pt30 { padding-top: 1.5rem}

.mb5 { margin-bottom: 0.25rem}
.mb10 { margin-bottom: 0.5rem}
.mb20 { margin-bottom: 1rem}
.mb30 { margin-bottom: 1.5rem}

.mt5 { margin-top: 0.25rem}
.mt10 { margin-top: 0.5rem}
.mt20 { margin-top: 1rem}
.mt30 { margin-top: 1.5rem}
/* border-radius */
.br10 { border-radius: 0.5rem}


/* layout */
.wrap_com { margin:0 auto; width: 35rem; box-sizing: border-box;}

.sec_type1 .sec_tit{ margin-bottom: 1.5rem; padding: 4.2rem 0 1.5rem; border-bottom:2px solid #000; text-align: center; }
.sec_type1 .sec_tit .txt + .heading {margin-top: 0.6rem;}
.sec_type1 .sec_tit .heading{ font-size: 2rem; letter-spacing: -0.075em; font-weight: bold; color: var(--color-blue); }
.sec_type1 .sec_tit .heading.eng{font-family: 'FS Albert Pro'; font-weight: 800;}

.wrap_img > img { width: 100%}


/* input */
.chk_type1 + label,
.chk_type2 + label { cursor: pointer;}
.chk_type1 + label span,
.chk_type2 + label span { vertical-align: middle;}
.chk_type1 + label:before,
.chk_type2 + label:before
 { content: ""; display: inline-block; margin-right: 5px; box-sizing: border-box; vertical-align: middle;}
.chk_type1 + label:before{width: 1rem; height: 1rem; border: 1px solid #666; background-color: #fff; }
.chk_type1:checked + label:before { background: url(/common/images/ico_checked_w.png) no-repeat center / 70% auto var(--color-blue);}
.chk_type2 + label:before{width: 1.5rem; height: 1.5rem; border: 2px solid #b5b5b5; border-radius: 100%;}
.chk_type2:checked + label:before { border-color: var(--color-red); background: url(/common/images/ico_checked_03.png) no-repeat center / 70% auto #fff;}

/* ico_checked_02.png */

/* button */
.btn_type1 {background:var(--color-blue); border-radius: 3px; color: #fff; }
.btn_blue { background-color:var(--color-blue) !important; color: #fff !important; }
.btn_red { background-color:var(--color-red) !important; color: #fff !important; }
.btn_center { display: table; margin: 0 auto; text-align: center;}
.wrap_btn.flex.space > * { width: 49%;}
.wrap_btn{margin-top: 2.25rem;}
.wrap_btn > * { display: block; line-height: 3rem; height: 3rem; width:100%; border-radius: 0.2rem; font-size: 1.1rem; font-family: 'Noto Sans KR',sans-serif; letter-spacing: -0.05em; box-sizing: border-box; text-align: center;}
.wrap_btn .btn_prev,
.btn_w { border: 1px solid #ddd; color: #666 ; background:#fff; border-radius: 0.2rem}


/* list */
.list_type1 > li > a { display: block; border: 1px solid #ddd;border-radius: 0.5rem; box-sizing: border-box;}
.list_bul.gray { color: #676767; font-size: 0.8rem;}
.list_bul > li { padding-left: 0.6rem; position: relative; }
.list_bul > li.nonebul:before { display: none}
.list_bul > li:before { position: absolute; left: 0; top: 0.75em; content: ""; display: inline-block; width: 0.25em; height: 0.25em; background: #666; vertical-align: middle; border-radius: 100%}
.list_bul2 > li > p:before { content: ""; display: inline-block; margin-right: 6px; width: 2px; height: 2px; background: #bfbfbf; vertical-align: middle;}

.txt_type2 { font-size: 0.85rem; color: #666; letter-spacing: ; line-height: 1.75; letter-spacing: -0.05em}


/* box */
.box_border {border: 1px solid var(--color-gray2); border-radius: 0.25rem;}


header,footer div { background-color: var(--color-blue); box-sizing: border-box;}
footer div{height: 4.5rem; margin-top: 5rem}
header .wrap_header{position: relative; height: 4.5rem; width: 60rem; font-size: 0; box-sizing: border-box;}
header .wrap_gnb{display: flex; align-items: center; justify-content: space-between; width: 100%}
header h1{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 10; height: 100%; line-height: 4.5rem;}
header h1 a {height: 100%; }
header h1 a img{height: 1.5rem; }
header .btn{display: inline-block; padding: 0 1.35rem; border: 1px solid #fff; border-radius: 2rem; line-height: 2rem; font-size: 0.75rem; color: #fff; box-sizing: border-box; transition:all 0.3s}
header .right .btn{margin-left: 0.5rem;}
header .left .btn:after{margin-left: 0.65rem; width: 1.1rem; height: 1.1rem; background: url(../images/ico_date_w.png) no-repeat center / 100% 100% ;}
