@font-face {
    font-family: 'GmarketSans';
    src: url('../font/GmarketSans/GmarketSansTTFMedium.woff2') format('woff2'),
        url('../font/GmarketSans/GmarketSansTTFMedium.ttf') format('truetype'),
        url('../font/GmarketSans/GmarketSansTTFMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('../font/GmarketSans/GmarketSansTTFBold.woff2') format('woff2'),
        url('../font/GmarketSans/GmarketSansTTFBold.ttf') format('truetype'),
        url('../font/GmarketSans/GmarketSansTTFBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('../font/GmarketSans/GmarketSansTTFLight.woff2') format('woff2'),
        url('../font/GmarketSans/GmarketSansTTFLight.ttf') format('truetype'),
        url('../font/GmarketSans/GmarketSansTTFLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Arita-dotum */

@font-face {
    font-family: 'Arita-dotum';
    src: url('../font/Arita/Arita-dotum-Thin_TTF.woff2') format('woff2'),
        url('../font/Arita/Arita-dotum-Thin_TTF.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arita-dotum';
    src: url('../font/Arita/Arita-dotum-Light_TTF.woff2') format('woff2'),
        url('../font/Arita/Arita-dotum-Light_TTF.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arita-dotum';
    src: url('../font/Arita/Arita-dotum-Bold_TTF.woff2') format('woff2'),
        url('../font/Arita/Arita-dotum-Bold_TTF.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arita-dotum';
    src: url('../font/Arita/Arita-dotum-SemiBold_TTF.woff2') format('woff2'),
        url('../font/Arita/Arita-dotum-SemiBold_TTF.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arita-dotum';
    src: url('../font/Arita/Arita-dotum-Medium_TTF.woff2') format('woff2'),
        url('../font/Arita/Arita-dotum-Medium_TTF.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


