@media screen and (max-width: 1200px) {
  header .wrap_com{padding:0 3%; width: 100%;}

  /* mypage */
  .wrap_mypage.wrap_com {padding:0 3%; width: 100%;}
  .wrap_mypage > .left, .wrap_mypage > .right{width: 100%; float: none;}
  .wrap_mypage .sec_tit{text-align: center;}
}
@media screen and (max-width: 768px) {
header{position: sticky; left: 0; right: 0; top: 0; z-index: 999;}
header .wrap_com{padding:0 5vw; width: 100%;}
header .wrap_header{height: 3.5rem;}
header .wrap_com.wrap_gnb { display: flex; flex-direction: column; justify-content: center; align-items: flex-start; position: fixed; left: 100%; top: 0; bottom: 0; width: 100vw; height: 100vh; background: var(--color-blue); transition: all .3s;}
header .wrap_com.wrap_gnb.active{left: 0;}
header .btn{display: block; padding: 0; margin: 0; border: none; text-align: left; font-size: 5vw; line-height: 2;}
header .right .btn{margin: 3vw 0 0;}
header .left .btn:after{width: 5vw; height: 5vw; vertical-align: -0.7vw;}
header h1{position: static; transform: none; line-height: 3.5rem;}
.btn_menu button{display: block; height: 3.5rem; width: 3.5rem; background-color: red; background: url(/common/images/btn_menu_w.png) no-repeat right center / 45% auto;}
.btn_menu button.active{position: relative; background: url(/common/images/btn_close.png) no-repeat right center / 40% auto; z-index: 200;}
main{min-height: 100vh}

  /* responsive */
.pc{display: none !important;}
.pc.flex{display: none !important;}
.mobile{display: block !important;}
.mobile.flex{display: flex !important;}

 html{font-size: 16px;}

.wrap_com{padding-left: 3vw; padding-right: 3vw; width: 100%;}
.list_reg .bx_input{height: 3.5rem;}
.list_reg .bx_input *{font-size: 1.1rem;}
.list_reg > li{display: block;}
.list_reg > li > label{width: 100%;}
.list_reg > li > div{flex: none;}
.list_reg .btn_gray{width: 25%; height: 3.5rem; line-height: 3.5rem;}
.list_reg .bx_input{width: 100%;}
.list_reg .bx_num .time{font-size: 1.2rem;}
.list_reg .list_reg > li ~ li, .list_reg > li .wrap_type1 ~ .wrap_type1{margin-top: 1rem;}
.list_reg .txt_type1{font-size: 0.9rem;}
.list_reg.type2 .bx_input{flex: 1; height: 3.5rem;}
.sec_reg .list_reg .list_reg > li{display: flex;}
.sec_reg .item_method ul li{display: block; padding: 3vw; height: auto;}
/* login page */
.sec_login .wrap_com{width: 100%;}
.sec_login .wrap_chk label{font-size: 1.1rem;}

/* find page */
.sec_find .wrap_title > p{line-height: 1.4;}
.sec_find .bx_result > p{line-height:1.3}

/* signup page */
.sec_signup.agree form {font-size: 0.95rem;}

/* regist page */
.sec_reg .item_info .list_reg > li:nth-child(1), .sec_reg .item_info .list_reg > li:nth-child(2){width: 100%;}
.sec_reg .item_method ul li > label{margin-bottom: 0.5rem;}
/* detail page */
.sec_detail .wrap_box{font-size: 1rem;}
.sec_detail .wrap_box h3{font-size: 1.2rem;}
.sec_detail .wrap_box .box:nth-child(1), .sec_detail .wrap_box .box:nth-child(2){width: 100%;}

.sec_detail .box.image ul li{padding: 0; width: 100%; height:auto; }
.sec_detail .box.image ul li img{position: relative; width: 100%;}
.sec_detail .wrap_box .box{padding:4.5vw 3vw 6vw;}
.sec_detail .doctor{flex-direction: column; align-items: flex-start; line-height: 1.5;}
  


.popup.active { display: block !important;}
.popup > .inner { padding:4vw 3vw; position: absolute; left: 50%; top: 50%; width: 90vw; height: 90vh; min-width: auto; transform: translate(-50%,-50%); background: #fff; overflow: auto; box-sizing: border-box;}
.popup .bx_padding { padding-left: 1rem; padding-right: 1rem; }
.popup .bx_gray { padding-top: 0.85rem; padding-bottom: 0.85rem; font-size: var(--px19); line-height: 1.3}
.popup .btn_close {position:absolute; right: 1rem; top: 0.5rem;  }
.popup .wrap_title { font-family: 'Noto Sans KR', sans-serif}
.popup .wrap_title .title { padding: 0 0 var(--px10)}
.popup .title { padding: 3rem 0 0.8rem; font-size: 1.3em; font-weight: 400; letter-spacing: -0.05em; border-bottom:1px solid #444 ;text-align: center;}
.popup > .inner > .btn_close:after {content: "X";display: block;position: absolute;right: 0.8rem;top: 0.5rem;padding:0.2rem;font-size: 2rem;font-family: 'Montserrat',sans-serif;font-weight: 600}

.tb_type1 th, .tb_type1 td{padding: 1rem 0.5rem;}

}