@media screen and (max-width:1400px){
  html{font-size: 18px}
  .inner { padding-left:30px;padding-right:30px; width: 100%; }

  /* header */
  main{padding-top: 3rem;}
  .header h1 > a{width: 7.5rem}
  .header .gnb{margin-left: 2rem}
  .header .list_gnb > li ~ li{margin-left: 1.5rem}
  .header .util ul li a{padding: 0 1rem}

  /* event page */
  .sec_event{padding-bottom: 5rem;}
  .sec_event .tit_type1{padding: 5rem 0 2.5rem;}

  .sec_check .bx_calendar{padding:3rem 2rem 3rem; flex-direction: column; align-items: flex-start;}
  .sec_check .bx_calendar .thismonth{flex-direction: row; margin-bottom: 1rem; padding-right: 0; border:none}
  .sec_check .bx_calendar .month{margin-right: 1.5rem}
  .sec_check .wrap_form:before{width: 12rem}
  .sec_check .wrap_input{padding: 2rem 1.5rem 1rem}
  .sec_check .bx_calendar .wrap_date{padding-bottom: 3vw; width: 100%}
  .sec_check .bx_calendar .date{width: 100%;}


  /* spoint page */
  .sec_guide .bx_section{padding:4rem 2.5rem 3rem}
  .sec_guide .bx_section.gray{background-size: 30% auto; background-position: right 3% bottom}
  .sec_guide .wrap_tb > .desc{padding: 1rem 0 0.5rem;}
  .sec_guide .bx_section:first-of-type .left{width: 30%}

}


@media screen and (max-width:1024px){

  /* common */
  html{font-size: 16px}
  input,textarea,select{font-size: 3vw}


  .inner{padding-left: 4vw; padding-right: 4vw;}

  .only_pc{display: none !important}
  .only_pc.flex{display: none !important}
  .only_tablet{display: none !important}
  .only_mob{display: block !important}
  .only_mob.flex{display: flex !important}

  .chk_type1 + label:before{width: 3vw; height: 3vw}

  .tit_type1{flex-direction: column; align-items: flex-start;}
  .tit_type1 .tit{font-size: 5vw}
  .tit_type1 .tit+.desc{margin-left: 0; margin-top: 1.8vw; font-size: 3vw}

  .page_type1 .page_tit{margin-bottom: 5vw; font-size: 5vw}
  .page_type1 .tit_form{font-size: 5vw}
  .result_id .color_333{padding: 8vw 0 5vw; font-size: 3.5vw}
  .result_id .bx_gray{padding: 8vw 3vw; width: 90vw}
  .result_id .bx_gray .tit{font-size: 5vw}
  .result_id .bx_gray .tit + .desc{font-size: 3.5vw}
  .result_id .wrap_btn.flex .btn{min-width: auto; font-size: 3.5vw}

  .page_type1 .bx_white {padding: 6vw 0;}
  .page_type1 form .tit_form{display: none}
  .page_type1 .txt_btm{margin-top: 9vw;font-size: 3.2vw;}
  .page_type1 .list_form.bb{padding-bottom: 5vw}
  .page_type1 .list_form.bt{padding-top: 5vw;}

  .wrap_btn{padding-top: 5vw}
  .sec_share .wrap_tit .btn_type3{padding: 0 3vw; line-height: 8vw; font-size: 4vw; border-radius: 5vw;}
  .board_type1 > ul > li{flex-wrap: wrap; justify-content: flex-start; position: relative; font-size: 2.6vw; height: auto; padding: 4.62vw 16.66vw 4.16vw 21.29vw; color: #666}
  .board_type1 > ul > li ~ li{margin-top: 2.03vw}
  .board_type1 > ul > li .time{font-size: 2.6vw;color: #666}
  .board_type1 > ul > li .id{justify-content: flex-start; width: 100%}
  .sec_share .wrap_tit .btn_type3{}
  .board_share .label{order: 2; margin-right: 2vw; width: auto;}
  .board_share .time{display: none; order: 4; width: auto;}
  .board_share .id{order: 6; }
  .board_share .name{order: 5}
  .board_share .ranking{order: 1; position: absolute; left: 6.94vw; top: 50%; transform: translateY(-50%); font-size: 3.24vw; color: #333;}
  .board_share .label span{padding: 1vw}
  .board_share .txt{order: 3; margin:2vw 0; width: 100%; margin-left: 0; flex: none; font-size: 3.24vw}

  .inp_type1{height: 10.18vw}
  .inp_type1 .txt_float{font-size: 2.5vw}
  .list_form input, .list_form textarea, .list_form select, .list_form button{font-size: 3vw}
  .list_form > li{flex-direction: column;}
  .list_form > li ~ li{margin-top: 4vw}
  .list_form > li > label{display: block; padding-top: 0; margin-bottom: 2vw; width: 100%; font-size: 4vw}
  .list_form > li .desc{font-size: 2.96vw; line-height: 1.8}
  .list_form > li > div{flex: none}
  .list_form > li .bx_inp + .bx_inp{margin-left: 2vw; width: 33%}
  .list_form .btn{height: 9vw}

  .wrap_btn .btn{padding: 0 2vw; height:10.18vw; line-height:10.18vw; font-size: 3.5vw; box-sizing: border-box;}
  .wrap_btn .btn.btn_more{padding: 0 11.85vw; height: 10.18vw; line-height: 10.18vw; border-radius: 10.18vw; font-size: 3.88vw}

  .tb_type1 thead th{font-size: 3.2vw}
  .tb_type1 tbody th, .tb_type1 tbody td{font-size: 2.8vw; line-height: 1.3}
  .tb_type1 th, .tb_type1 td{padding: 2vw 0}

  .paging ol li a{width: 9vw;line-height: 9vw;font-size: 5vw;}

  .wrap_popup .popup{padding: 8%; width: 90vw; height: 90vh}
  .wrap_popup .popup .btn_close{width: 10vw; height: 10vw; background-size: 40% auto}
  .wrap_popup .popup .tit{font-size: 5vw}
  .wrap_popup .bx_txt{height: 80%}
  .wrap_popup .btn.btn_type2{width: 30%; line-height: 10vw; font-size: 4vw}


  /* common end  */
  .header h1 > a{width: 25vw; line-height: 10vw}
  .header h1 > a img{vertical-align:middle;}
  .header .wrapper_mob{ position: fixed; left: 100%; top: 0; bottom: 0; z-index: 999; padding-top: 25vw; width:100%; background: #fff; transition: all .3s; align-items: flex-start;}
  .header .wrapper_mob.open{left: 0;}
  .header .gnb{margin-left: 0}
  .header .list_gnb {flex-direction: column; align-items: flex-start; }
  .header .list_gnb ul:before{display: none}
  .header .list_gnb > li ~ li{margin-left: 0; margin-top: 30px}
  .header .list_gnb > li > a{padding: 10px 0; font-size: 30px; text-align: left; line-height: 1; font-weight: 600}
  .header .list_gnb ul{position:relative; padding:15px 0 }
  .header .list_gnb ul li ~ li { margin-left: 0}
  .header .list_gnb ul a{font-size: 25px}
  .header .util{position: absolute; left: 5vw; top: 5vw; font-size: 3.5vw}
  .header .util ul li ~ li{margin-left: 2vw}
  .header .util ul li a{padding: 0 4vw; line-height: 8vw; border-radius: 8vw;}
  .header .util .btn_type1:before{margin-right: 2vw}
  .header .util .btn_login:before{width: 2.8vw; height: 2.8vw}
  .header .util .btn_mypage::before{width: 3.8vw; height: 2.8vw}
  .wrap_header .wrap_menuBtn{height: 14vw}
  .btn_menu {width: 14vw; height: 14vw; background: url("../images/btn_menu.png") no-repeat center right / auto 40%}
  .wrapper_mob .btn_close{position: absolute; right: 5vw;  top: 5vw; width: 5vw; height: 5vw; background: url("../images/ico_close.png") no-repeat center / 100% 100% }

  .footer{padding: 15vw 0 20vw}
  .header .list_gnb ul li{float: none}
  .footer .list_policy *, .footer .list_info{font-size: 3vw}
  .footer .clear > .left,.footer .clear > .right{float: none}
  .footer .list_policy li{float: none; line-height: 2}
  .footer .list_policy li ~ li:before{display: none}
  .footer .list_info{line-height: 2}
  .footer .partners{height: auto; width: 100%}
  .footer .partners img {height: auto; width: 100%}
  .footer .wrap_logo{margin-bottom: 5vw; padding-right: 0}
  .footer .wrap_logo img{width: 30vw}




  main{padding-top: 7vw; padding-bottom: 8vw}
  .sec_visual .btn_slide.prev{left: 3vw}
  .sec_visual .btn_slide.next{right: 3vw}
  .sec_visual .swiper-slide .bx_txt{padding: 0 10vw}
  .sec_visual .swiper-slide .title{font-size: 3.5vw}
  .sec_visual .swiper-slide .title+.desc{font-size: 2.3vw}


  .sec_event{padding-bottom: 1vw;}
  .sec_event .tit_type1{padding: 8vw 0 2.5vw}
  .sec_event ul{flex-wrap: wrap;}
  .sec_event ul li{margin-bottom: 7vw; width: 48.5%}
  .sec_event ul li a .tit{margin: 3vw 0 1.5vw; font-size: 3.5vw; }
  .sec_event ul li a .desc{font-size: 2.8vw; }
  .sec_event ul li a .bx_img{border-radius: 2vw}

  .sec_login .wrap_form{width: 90%; font-size: 3.5vw}
  .sec_login .wrap_chk{margin: 5vw 0 0}

  .sec_signup.step1 .wrap_form{width: 100%}
  .sec_signup .bx_chk{padding: 8.5vw 4vw;}
  .sec_signup.step1 .bx_white{background: none}
  .sec_signup.step1 .chk_type1 + label:before{margin-right: 2vw}
  .sec_signup.step1 .page_tit{margin-bottom: 0}
  .sec_signup.step1 .wrap_form > .desc{font-size: 3vw}
  .sec_signup .list_chk > li{font-size: 4vw}
  .sec_signup .wrap_form{width: 100%}
  .sec_signup.step2 .wrap_form{width: 100%}
  .sec_signup.step2 .item_char .bx_img{width: 13vw; height: 13vw;}
  .sec_signup.step2 .item_char .bx_img img{width: 50%}
  .sec_signup.step2 .list_form > li{font-size: 3.5vw}
  .sec_signup.step2 .list_form > li ~ li{margin-top: 5vw}
  .sec_signup.step2 .item_char ul li {margin-right: 5vw}
  .sec_signup.step3 .desc{margin: 9vw 0 2.5vw; font-size: 3.8vw;}
  .sec_signup.step3 strong{font-size: 6vw}
  .sec_signup.find .wrap_btn .btn{font-size: 3vw}

  /* event page */
  /* event-best.html */
  .sec_award h2{margin: 5vw 0 7vw}
  .sec_business{padding-top: 3vw}
  .sec_business .contents .tit_type1{line-height: 11vw}
  .sec_business .contents h3{padding: 7vw 0 3.5vw; font-size: 3.5vw}
  .sec_business .contents .list_bul{font-size: 3vw}
  /* event-check.html */
  .sec_check .tit_type1{padding: 10vw 0 5vw}
  .sec_check .wrap_form:before{display: none}
  .sec_check .bx_check .list_cur{padding: 3.33vw 0 6.5vw; font-size: 2.87vw;}
  .sec_check .bx_check .list_cur > li{float: left; margin-right: 5.55vw}
  .sec_check .bx_check .list_cur li:before{width: 7vw; height: 7vw}
  .sec_check .wrap_input{padding: 7vw 0; border: none}
  .sec_check .wrap_input >p{font-size: 3.7vw;}
  .sec_check .wrap_input .list_form{margin-top: 2.4vw}
  .sec_check .wrap_input .list_form > li > div{flex-direction: column;}
  .sec_check .list_form > li{margin-bottom: 0}
  .sec_check .list_form .inp_type1, .sec_check .list_form > li .bx_inp + .bx_inp{margin-left: 0; height: 10.74vw; line-height: 10.74vw; width: 100%; font-size: 4.16vw}
  .sec_check .list_form .btn_type2{background: var(--color_blue) !important}
  .sec_check .list_form .inp_type1{margin-bottom: 1.38vw; border: 1px solid #c7c7c7; background: #fff}
  .sec_check .bx_calendar .thismonth{align-items: flex-start; font-size: 2vw}
  .sec_check .bx_calendar .month{margin-right: 2.4vw; font-size: 5.1vw}
  .sec_check .bx_calendar .month + .txt{margin-top: 0; padding:1.3vw 4.2vw; font-size: 2.5vw}
  .sec_check .bx_calendar{padding: 6.66vw 2.77vw 4.6vw}
  .sec_check .bx_calendar .date{padding: 4.07vw 10vw 3.5vw; width: 100%; height: auto; font-size: 3.7vw; border-radius: 6vw}
  .sec_check .bx_calendar .date .num ~ .num{margin-left: 6.1vw}
  .sec_check .bx_calendar .wrap_date{padding-bottom: 4.62vw}
  .date .today .label{ line-height: 4vw; border-radius: 4vw; font-size: 1.85vw}
  .board_chk .hd_board{display: none}
  .board_chk .ranking{order: 1; position: absolute; left: 6.94vw; top: 50%; transform: translateY(-50%); font-size: 3.24vw; color: #333}
  .board_chk .txt{order: 2; width: 100%; flex:none; margin-left: 0; margin-bottom: 3.24vw; font-size: 3.24vw; color: #333}
  .board_chk .point{order: 3; width: auto;}
  .board_chk .count{order: 4; margin: 0 3.7vw; width: auto;}
  .board_chk .time{order: 5; width: auto;}
  .board_chk .id{order: 6; margin-top: 2.5vw; width: 100%; color: #333}
  .id .profile{width: 6.95vw; height: 6.95vw}
  .board_chk .point:before,
  .board_chk .count:before,
  .board_chk .time:before{display: inline-block; }
  .board_chk .point:before{content: "포인트 : "}
  .board_chk .count:before{content: "개근일 : "}
  .board_chk .time:before{content: "출석시간 : "}



  /*event.html  */
  .sec_event_sub .wrap_tit{ align-items: flex-start; padding: 8vw 0 5vw; flex-direction: column;}
  .sec_event_sub .list_event{display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;}
  .sec_event_sub .list_event:after{display: none}
  .sec_event_sub .list_event>li{margin-right: 0 !important; width: 48.5%}
  .sec_event_sub .list_event>li .wrap_txt{padding: 5vw 5vw 7vw}
  .sec_award h2.only_mob{margin-bottom: 0}
  .sec_award .bx_trophy{padding: 0; background: none}
  .sec_award .bx_trophy .inner_trophy{width: 100%}
  .sec_award .bx_trophy .wrap_txt{position: relative; padding: 0}
  .sec_award .bx_trophy + .tit_type1 .tit+.desc {font-size: 4vw}
  .list_award {display: block;}
  .list_award > li{flex: none; display: flex; flex-direction: column; justify-content:center; padding-bottom: 0 !important; padding-left: 40vw; padding-right: 6vw; margin-top: 3vw; height:40vw; background: url("/common/images/img_trophy_m_01.png") no-repeat center / 100% 100%; color: #fff; font-size: 3.5vw; font-family:'GmarketSans'}
  .list_award > li .name+.point{margin: 3.5vw 0 2vw; font-size: 3.5vw; font-weight: 800}
  .list_award > li ul{border-color: #fff}
  .list_award > li .color_red{color: #fff !important}
  .list_award > li .name{text-align: left; font-size: 7vw;}
  .list_award > li.no2{background-image: url("/common/images/img_trophy_m_02.png")}
  .list_award > li.no3{background-image: url("/common/images/img_trophy_m_03.png")}

  .tit_type1+.search_type1{margin-top: 3vw}
  .search_type1 > *{padding: 0 2vw; min-width: auto; height: 9vw; line-height: 9vw}
  .search_type1.flex{width: 100%; justify-content:space-between;}
  .search_type1 > .btn{font-size: 3vw}
  .search_type1 .bx_select{min-width: 30%; padding: 0 2.5vw}
  .search_type1 .bx_search{flex:1; padding-left: 2.5vw}
  .search_type1 .bx_search input{font-size: 3vw}
  .search_type1 .bx_select select, .search_type1 .bx_select input{font-size: 3vw}
  .search_type1 .bx_search .btn{width:9vw; height: 9vw; line-height: 9vw}

  .sec_share .wrap_tit{padding: 8vw 0 5vw; align-items: flex-start; flex-direction: column;}
  .sec_share .wrap_tit .tit_type1{margin-bottom: 3vw}
  .sec_share.write .wrap_form .bx_select{width: auto;}

  .spoint .sec_visual{margin-bottom: 10vw}
  .sec_mileage .wrap_img{margin: 8vw auto 5vw; width: 80%}
  .sec_mileage .wrap_img + .tit_type1 .tit{font-size: 4vw}
  .sec_mileage .tit_type1 .logo{width:20vw}
  .sec_mileage .bx_gray{width: 100%;font-size: 3vw;padding: 4vw;}
  .sec_mileage .wrap_form{width: 100%}
  .sec_mileage .wrap_form .list_form{padding-right: 0}

  .sec_benefit .wrap_search{flex-direction: column; align-items: flex-start;}
  .sec_benefit .search_type1{justify-content: flex-start;}
  .list_benefit{display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;}
  .list_benefit:after{display: none}
  .list_benefit > li{margin-right: 0 !important; width: 48%}

  /* mypage */
  .mypage .page_type1 .bx_white{padding: 2vw}
  .board_type2 .wrap_search{margin: 5vw 0 3vw; flex-direction: column;}
  .board_type2 .wrap_search > .flex.align_center > *{width: 100%}
  .board_type2 .wrap_search > .wrap_select{ width: 100%; flex-direction: column;}
  .board_type2 .sel_period ul {justify-content: space-between;}
  .sel_period ul li{flex: 1}
  .sel_period ul li~li{margin-left: 2vw}
  .sel_period ul li *{padding:0 2vw; width: 100%; font-size: 3vw; line-height: 7vw;}
  .board_type2 .search_type1 > *{height: 7vw; line-height: 7vw; border-radius: 0.3rem}
  .board_type2 .sel_date{margin: 2vw 0}
  .board_type2 .contents{padding: 7vw 0 5vw}
  .board_type2 .contents + .btn{font-size: 3vw; line-height: 10.18vw}
  .board_type2 .bx_select.date{flex: 1}
  .board_type2 > ul{font-size: 2.8vw}
  .board_type2 > ul > li{height: 9vw}
  .board_type2 .board_tit{padding: 5vw 2vw; flex-direction: column; align-items: flex-start;}
  .board_type2 .board_tit .btn_type3{margin-top: 5vw; padding: 0 3vw; line-height: 8vw; font-size: 3vw}
  .board_type2 .board_tit .tit{font-size: 4vw}
  .board_type2 .board_tit .date{margin-top: 3vw; font-size: 3vw}
  .sec_write{width: 100%}
  .sec_write .wrap_form{padding: 8vw 0 5vw}
  .sec_write .wrap_form .list_form > li{align-items: center;}
  .sec_write .list_form > li.item_pw{align-items: flex-start;}
  .sec_write .list_form > li.item_pw > label{font-size: 3.5vw}
  .sec_write .list_form .inp_type1.inp_pw{height: 9vw}
  .sec_write .list_form .inp_type1.inp_txt{width: 100%; height: 30vw; flex:none; margin-bottom: 3vw}
  .sec_write .list_form > li .bx_inp + .bx_inp.btn{width: 100%; height: 9vw; font-size: 3.24vw}
  .sec_write .wrap_list .wrap_search .total{margin-bottom: 4vw; font-size:3.5vw }
  .sec_write .wrap_list .wrap_search{flex-direction: column; align-items: flex-start; padding: 7vw 0 3vw}
  .list_comment > li{position: relative; flex-direction: column; align-items: flex-start;}
  .list_comment > li .profile{ margin-right: 3vw; width: 10vw; height: 10vw;}
  .list_comment > li .tit{font-size: 3vw}
  .list_comment > li .tit+.comment{width: 70%; font-size: 2.7vw}
  .list_comment > li .comment{max-width: 80%; font-size: 2.7vw; }
  .list_comment > li .info{ display: flex; align-items: flex-end; margin-left: 13vw; margin-top: 3vw; font-size: 2.8vw;}
  .list_comment > li .date{margin: 0; margin-left: 2vw; font-size: 2.5vw}
  .list_comment > li .btns .btn{width: 4vw; height: 4vw;position: absolute; right: 0; bottom: 3vw; }

  .board_mypage .point{width: 15%}

  /* .list_info */
  .list_info{flex-direction: column; }
  .sec_myinfo .list_info > li{margin-bottom: 2vw; width: 100%}
  .sec_myinfo .list_info > li > a{padding: 5vw; font-size: 5vw}
  .sec_myinfo .bx_profile{margin: 4vw 0;padding: 3vw;font-size: 3.5vw;}
  .sec_myinfo .bx_profile .img_profile{width: 15vw;height: 15vw;}
  .sec_myinfo .bx_profile .img_profile+.txt > span{margin-top: 2vw; font-size: 3vw}
  .sec_myinfo .list_info .contents > p{padding: 1.5vw 2vw; font-size: 5vw}
  .sec_myinfo .list_info .contents > p small{font-size: 4vw}
  .sec_history h3,.sec_my h3{font-size: 3.5vw}
  .sec_guide .bx_section:first-of-type .left{margin-right: 5vw}
  .sec_guide .bx_section:first-of-type .right{flex:1}
  .sec_guide .bx_section{padding: 4vw}
  .sec_guide .bx_section.tb{padding: 8vw 0}
  .tit_point{font-size: 5vw;}
  .sec_guide .bx_section .txt{font-size: 4vw; margin: 5vw 0 3vw;}
  .sec_guide .bx_section .desc{font-size: 2.5vw}


}


/* hover event */
@media screen and (min-width:1024px){
  .header .list_gnb > li a:hover{color: var(--color_red)}
  .header .list_gnb > li > a:hover:after{ opacity: 1; z-index: 10}
}

@media screen and (max-width:690px){
  .tit_type1 .tit{font-size: 5vw}
  .tit_type1 .tit+.desc{font-size: 4vw; padding-bottom:1.5vw;}
  .search_type1 > .btn{font-size: 3.8vw}
  .header .list_gnb ul li{float: none}
  .header .list_gnb > li > a{padding: 10px 0; font-size: 25px; text-align: left;}
  .header .list_gnb ul a{font-size: 18px}

 /*su*/

  .sec_award .contents .tit_type1 .tit{margin-bottom: 0.2rem;}
  .sec_award .bx_trophy {margin-bottom: 3rem; }
  .sec_check .wrap_input >p {font-size: 5vw;}
  .list_form > li .desc {font-size: 3.5vw; line-height: 1.6; padding-top:5px;}
  .board_type2 .board_tit .date {margin-top: 2vw; font-size: 4vw; font-weight:500;}
  .board_type2 .board_tit .tit {font-size: 5vw;}
  .sec_write .list_form > li .bx_inp + .bx_inp.btn {height: 13vw; width: 100%; font-size: 4vw;}
  .list_form > li .bx_inp + .bx_inp {width: 33%;}
  .list_form > li .bx_inp + .bx_inp {flex: none; margin-left: 0rem; }

  .paging ol li {
    width: 9vw;
	border:1px solid #d2d2d2;
	border-radius:4px;
    line-height: 9vw;
    font-size: 4vw;
	text-align:center;
   }
  .paging ol li a {
    width: 9vw;
    line-height: 9vw;
    font-size: 4vw;
   }

  .m-txt-large {font-size:1.5vw}
  .m-txt-medium {font-size:3.4vw; line-height:5vw;}
  .m-txt-small {font-size:1vw}

  .pt-10 {padding-top:10px}
  .pt-20 {padding-top:20px}
  .pt-30 {padding-top:30px}

  .mt-10 {margin-top:10px}
  .mt-20 {margin-top:20px}
  .mt-30 {margin-top:30px}

  .pb-10 {padding-bottom:10px}
  .pb-20 {padding-bottom:20px}
  .pb-30 {padding-bottom:30px}




  .sec_event ul li a .tit {
    margin: 3vw 0 1.5vw;
    font-size: 4vw;
  }

  .sec_business .contents .tit_type1 .tit {
    font-size: 1.2rem;
  }



  .footer .list_policy *, .footer .list_info{font-size: 3.5vw}

  .inp_type1 {height: 12vw}
  .list_form .btn{height: 12vw}

  .sec_visual .swiper-slide .title{font-size: 3.2vw}
  .sec_visual .swiper-slide .title+.desc{font-size: 2.3vw}

  .sec_event_sub .list_event>li{width: 100%}
  .list_benefit > li{ width: 100%}

  .board_type1 .hd_board{font-size:1.3vw }
  .board_type2 .search_type1 > *{height: 9vw;line-height: 9vw;}
  .board_chk .hd_board{margin: 10vw 0 5vw; font-size:3.8vw;}

  .sec_signup.step1 .wrap_form > .desc{margin-bottom: 4vw; font-size: 3.5vw}

  .sec_mileage .wrap_img + .tit_type1 .tit{font-size: 4vw}
  .sec_mileage .bx_gray{font-size: 3.8vw}

  .sec_check .bx_calendar .month + .txt{font-size: 3.5vw}
  .sec_check .bx_calendar .date{font-size: 2.8vw}
  .sec_check .bx_calendar .wrap_date{padding-bottom: 8vw}
  .date .today .label{top: 5vw; font-size: 1.8vw; width: 17vw; line-height: 7vw;}





}
