@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html { font-size: 20px;}
body { font-size: 1rem; word-break: keep-all;}
a,button{transition: all .3s;}

.inner { margin:0 auto; width: 70rem;}


/* header */
.header{position: sticky; top: 0; left: 0; right: 0; z-index: 100; border-bottom: 1px solid #ddd; background: #fff}
.header h1 > a {display: block;width: 9.5rem; line-height: 4rem; }
.header h1 > a img{width: 100%; vertical-align: unset;}
.header .gnb{margin-left:4rem; }
.header .list_gnb > li{position: relative;}
.header .list_gnb > li > a {display: block; position: relative; line-height: 4rem; font-size: 0.85rem; color: #000; letter-spacing: -0.075em; font-weight: 500}
.header .list_gnb > li > a:after{opacity: 0; content: ""; position: absolute; left: -0.5rem; right: -0.5rem; bottom: -1px; height: 2px; background: var(--color_red); transition: all .3s;}
.header .list_gnb > li ~ li {margin-left:2.5rem}
/* 2depth */
.header .list_gnb ul{display: none; position: absolute; left: 0; top: 101%; width: max-content; background: #fff; padding: 0 1rem; border-radius: 0.5rem}
.header .list_gnb ul:before{content: ""; display: block; position: fixed; top: 81px; left: 0; right: 0; width: 100%; height: 2.9rem; background: #fff}
.header .list_gnb ul.active{display: block;}
.header .list_gnb ul li{float: left; position: relative;}
.header .list_gnb ul li ~ li { margin-left: 1.5rem}
.header .list_gnb ul a{display: block; line-height: 2.9rem; color: #333; font-size: 0.85rem}
/* .active{display: block !important;}
.active.flex{display: flex !important;} */


.header .list_gnb > li a.active{color: var(--color_red)}
.header .util{font-size: 0.8rem;}
.header .util ul li ~ li{margin-left:0.35rem;}
.header .util ul li a{display: block; padding:0 1.5rem; line-height:2rem; border-radius: 2rem; color: #333; }
.header .util .btn_type1:before{ margin-right:0.6rem; background-repeat: no-repeat; background-size: 100% 100%; background-position: center; vertical-align: -2px;}
.header .util .btn_login::before{height: 1rem; width: 1rem; background-image: url("../images/ico_login.png");}
.header .util .btn_mypage::before{height: 1rem; width: 1.4rem; background-image: url("../images/ico_my.png");}
.nav_quick{position: fixed; right: 49%; top:16%; transform: translateX(50%); margin-right:-37rem; z-index: 10; text-align: center;}
.nav_quick ul li{margin-bottom: 0.5rem;}
.nav_quick ul li a{display: block; width: 3rem; height: 3rem; border-radius: 0.5rem; overflow: hidden; background-position: center; background-repeat: no-repeat; background-size: 100% 100%; }
.nav_quick .insta a{background-image: url("../images/ico_insta.png")}
.nav_quick .insta a:hover{background-image: url("../images/ico_insta_hover.png")}
.nav_quick .facebook a{background-image: url("../images/ico_facebook.png")}
.nav_quick .facebook a:hover{background-image: url("../images/ico_facebook_hover.png")}
.nav_quick .youtube a{background-image: url("../images/ico_youtube.png")}
.nav_quick .youtube a:hover{background-image: url("../images/ico_youtube_hover.png")}
.nav_quick .naver a{background-image: url("../images/ico_naver.png")}
.nav_quick .naver a:hover{background-image: url("../images/ico_naver_hover.png")}
.nav_quick .btn_top{font-size: 0.85rem; font-weight: bold}


/* main */
main{padding-top: 3.5rem; padding-bottom: 5rem;}

/* visual */
.sec_visual .wrap_slide{overflow: hidden; border-radius: 1rem; }
.sec_visual .swiper-slide{border-radius: 1rem; letter-spacing: -0.05em; }
.sec_visual .swiper-slide .bx_txt {padding:0 8.25rem; }
.sec_visual .swiper-slide .bx_bg img{width: 100%; height: 100%; object-fit: cover;}
.sec_visual .swiper-slide a{color: #fff; z-index: 1; box-sizing: border-box;}
.sec_visual .swiper-slide .title{margin-bottom: 1.25rem; font-size: 2.4rem; font-weight: bold; line-height: 1.2; text-shadow: 1px 1px 1px rgb(0 0 0 / 14%) }
.sec_visual .swiper-slide .title+.desc{font-size: 1.2rem; font-weight: 300; line-height: 1.5;}
.sec_visual .btn_slide{position: absolute; z-index:10; top: 50%;  width: 1rem; height: 2rem; background: url("../images/ico_arr_w.png") no-repeat center / 100% auto; }
.sec_visual .btn_slide.prev{left: 3.5rem; transform: translateY(-50%);}
.sec_visual .btn_slide.next{right: 3.5rem; transform:  translateY(-50%) rotate(180deg);}

/* sec_event */
section{line-height: 1;}
.sec_event{padding-bottom: 7rem;}
.sec_event .tit_type1{padding: 7rem 0 3.5rem;}
.sec_event ul li{width: 23.9%; text-align: center;}
.sec_event ul li:nth-child(1) .bx_img{background:url("../images/img_event_01.png") no-repeat center / 50% auto #d6e3dc;}
.sec_event ul li:nth-child(2) .bx_img{background:url("../images/img_event_02.jpg") no-repeat center / 100% auto #e8ebfe;}
.sec_event ul li:nth-child(3) .bx_img{background:url("../images/img_event_03.jpg") no-repeat center / 100% auto  #f6d8db;}
.sec_event ul li:nth-child(4) .bx_img{background:url("../images/img_event_04.png") no-repeat center #f4f2d6;}
.sec_event ul li a{display: block; letter-spacing: -0.05em;}
.sec_event ul li a .bx_img{padding-bottom: 75%; background: gray; border-radius: 1rem;}
.sec_event ul li a .tit{margin:1.75rem 0 0.85rem; font-size: 1.25rem; font-weight: 600;}
.sec_event ul li a .desc{font-size: 0.8rem;}

.footer{padding-top:3.2rem; background: #414346; letter-spacing: -0.025em;}
.footer .wrap_logo{padding-right: 2rem;}
.footer .list_policy *{color: #fff; font-size: 0.85rem;}
.footer .list_policy li{float: left;}
.footer .list_policy li span{display: inline-block;}
.footer .list_policy li ~ li:before{content: ""; display: inline-block; margin:0 0.7rem ; width: 1px; height:0.7rem; background: #fff; vertical-align: middle;}
.footer .list_info{padding-top:1.75rem; color: #8e8e8e; font-size: 0.8rem; line-height: 1.56; }
.footer .partners{margin: 2.75rem 0; height: 1.75rem}
.footer .partners img{height: 100%}


/* login */
.sec_login .wrap_form{ margin:0 auto; width: 30rem; font-size: 0.9rem;}
.sec_login .wrap_chk{margin:1.4rem 0 2.4rem; color: #333; font-weight: 600;}
.sec_login .wrap_chk .list_find > li{margin-left: 1.65rem;}
.sec_login .wrap_chk .list_find > li a{color: #333;}
.sec_login .txt_btm .link{margin-left:1.3rem; text-decoration: underline;}
.sec_login .wrap_form .tit_form {font-size: 1.4rem}

/* find-id */
.result_id .bx_gray{padding: 3.85rem 4.5rem}
.result_id .bx_gray .tit{font-size: 1.5rem}
.result_id .bx_gray .tit + .desc{margin-top: 0.8rem}
.result_id .color_333{padding: 3.5rem 0 1.8rem; font-size: 1.25rem}
.result_id .wrap_btn.flex .btn{font-size: 1rem}

.wrap_btn{padding-top: 2.5rem;}
.wrap_btn .btn{display: block; min-width: 9rem; height:3.4rem; line-height: 3.4rem; letter-spacing: -0.075em; text-align: center; border-radius: 0.5em; font-size: 1.4rem}
.wrap_btn .btn.btn_more{height: 3rem; line-height: 3rem; border-radius: 3rem; font-size: 1.2rem}
.wrap_btn .btn.btn_type1{color: #666}
.wrap_btn .btn+.btn{margin-left: 0.75rem;}

/* sec_signup */
.sec_signup .wrap_form{margin:0 auto; width: 36.25rem;}
.sec_signup.step1 .wrap_form > .desc{margin-bottom: 2.8rem;}
.sec_signup .list_chk > li{display: flex; align-items: center; justify-content: space-between; font-size: 0.9rem;}
.sec_signup .list_chk > li ~ li{margin-top: 1.1rem;}
.sec_signup .list_chk > li .btn_view{display: block; width: 6.2rem; text-align: center; font-size: 0.8rem; color: #333333; border-radius: 0.5rem; line-height: 2rem;}
.sec_signup .bx_chk{padding:3.2rem 2rem 2.5rem; border: 1px solid #d2d2d2; border-radius: 0.5rem;}
.sec_signup .bx_chk .chk_all{padding-bottom: 1.65rem; margin-bottom: 2rem; font-size: 1.1rem; font-weight: bold;}
.sec_signup .wrap_list .heading{font-size: 1.1rem; }
.sec_signup .list_chk{margin-top: 1.75rem;}
.sec_signup.step1 .chk_type1 + label:before{margin-right: 1.15rem}

/* 정보입력 */
.sec_signup.step2 .item_addr > div > div ~ div{margin-top: 0.65rem;}
.sec_signup.step2 .item_char .bx_img{display: flex; align-items: center; justify-content: center; margin-bottom: 0.7rem; background: #7d7d7d; width: 2.4rem; height: 2.4rem; border-radius: 100%;}
.sec_signup.step2 .item_char ul li{margin-right: 0.6rem; text-align: center; line-height: 1; font-size: 0;}
.sec_signup.step2 .item_birth .inp_type1{margin-right: 2rem; width: 9rem;}
.sec_signup.step2 .item_birth ul li{margin-right: 2rem;}
.sec_signup.step2 .list_form > li ~ li{margin-top: 1.5rem}

.sec_signup.step3 .desc{margin:2.3rem 0 0.5rem;}
.sec_signup.step3 strong{font-size: 2.25rem;}

/* 아이디찾기 */
.sec_signup.find .wrap_btn .btn{font-size: 1.1rem}


/* spoint page*/
.spoint .sec_visual{margin-bottom: 4.5rem;}
.sec_guide .bx_section{padding:7rem 6.75rem; font-family: 'GmarketSans'; letter-spacing: -0.05em;}
.sec_guide .bx_section.gray{background:url("../images/img_bestofbest.png") no-repeat right 8rem bottom; background-color: #f4f4f4;}
.sec_guide .bx_section:first-of-type .right{width: 22.5rem;}
.sec_guide .bx_section .txt{margin:2.5rem 0; font-size: 2rem; font-weight: 300; line-height: 1.37;}
.sec_guide .bx_section .txt strong{font-weight: 400;}
.sec_guide .bx_section .desc{font-size: 0.85rem; font-weight: 300; font-family: 'Noto Sans KR',sans-serif; line-height: 1.9;}
.sec_guide .wrap_tb > .desc{padding:0.8rem 0 1.8rem;}
.tit_point{font-size: 1.9rem; font-weight: 500;}
.tit_point:before{content: "S"; display: inline-flex; justify-content: center; width: 2rem; height: 2rem; line-height: 2.2rem; border-radius: 100%; background: var(--color_red); color: #fff; font-family: 'GmarketSans'; font-size: 1.15rem; vertical-align: middle;}

.sec_benefit .wrap_search{padding: 0 0 2.8rem;}
.list_benefit > li{padding:1.2rem 1.75rem; margin-right:1.25%; margin-bottom: 2rem; width: 24%; border: 1px solid #e8e8e8; box-shadow: 0px 10px 15.9808px 0.0192px rgba(0, 0, 0, 0.08); border-radius: 1rem; font-size: 1rem;}
.list_benefit > li:nth-child(4n){margin-right: 0;}
.list_benefit .wrap_label{margin-bottom:1.9rem; text-align: right;}
.list_benefit .wrap_label .label{display: inline-block; padding:0 0.75rem; line-height: 2rem; border-radius: 2rem; vertical-align: middle; color: #fff; font-size: 0.7rem; }
.list_benefit .txt_info{font-weight: 500;}
.list_benefit .txt_info .product{margin:0.2rem 0 0.8rem; font-size: 1rem; font-weight:700 }
.list_benefit .txt_info .current{color: #8e8e8e; font-weight: 500; font-size:0.8vw;}
.list_benefit .txt_info .gift{display:inline-block; margin-top: 0.6rem; width: 5.8rem; line-height: 1.85rem; border-radius: 1.85rem; background:var(--color_blue); text-align: center; color: #fff; font-size: 0.75rem; }
.list_benefit .bx_img{margin:2.5rem 0; height: 6.5rem; text-align: center;}
.list_benefit .bx_img img{height: 100%}
.list_benefit .btn_count{position: relative; margin-left: 1.35rem; width: 5.75rem; height: 1.8rem; border: 1px solid #e9ebed; line-height: 1.8rem;}
.list_benefit .btn_count .btn{position: absolute; top:0; bottom: 0; width: 1.75rem; height:100%; background-color: #f1f2f4; background-repeat: no-repeat; background-position: center; background-size: 30% auto}
.list_benefit .btn_count .btn.minus{left: 0; background-image: url("/common/images/minus-icon.svg")}
.list_benefit .btn_count .btn.plus{right: 0; background-image: url("/common/images/plus-icon.svg")}
.list_benefit .btn_count .num{text-align: center; }
.label.gray{background: #464646;}
.label.red{background: var(--color_red);}

.sec_mileage .wrap_img{margin:0.85rem auto 2.6rem; width: 42.85%;}
.sec_mileage .tit_type1 .logo{margin-left: 0.5rem; vertical-align: 0.2rem}
.sec_mileage .bx_gray{margin: 1.7rem auto 3.6rem; padding:1rem 0; width:63%; font-size: 0.85rem; line-height: 1.26; border-radius: 0.5rem;}
.sec_mileage .btn_type3{display: inline-block; padding:0 1.7rem; line-height: 3.5rem; height: 3.5rem; border-radius: 3.5rem}
.sec_mileage .btn_type3:after{width: 2.6rem; height: 1.9rem; background: url("/common/images/ico_change.png") no-repeat center / 100% 100%; margin-left: 0.8rem;}
.sec_mileage .wrap_form{margin:3.75rem auto 3.5rem; width: 44rem}
.sec_mileage .wrap_form .list_form{padding-right: 9rem}
.sec_mileage .wrap_form .list_form .bx_inp+.bx_inp{width: 15%}


/* event page */
.sec_award h2.only_pc{margin: 5.5rem 0 1.4rem; width: 40%}
.sec_award .bx_trophy{margin-bottom: 4rem; padding: 2.5rem 0; width: 100%; background: url("../images/bg_trophy.png") no-repeat center / auto 160%}
.sec_award .bx_trophy .inner_trophy{position: relative; width: 31.2rem; margin: 0 auto}
.sec_award .bx_trophy .wrap_txt{padding: 0 1.8rem}
.sec_award .contents{text-align: center;}
.sec_award .contents .tit_type1 .tit{margin-bottom: 0.2rem;}
.list_award{width: 100%}
.list_award > li{flex:1; padding: 0 15px; font-size: 0.75rem; font-family: 'Noto Sans KR',sans-serif;}
.list_award > li .name {font-size: 1.25rem; font-family: 'GmarketSans'}
.list_award > li .name+.point {margin: 0.9rem 0 0.5rem}
.list_award > li.no1{padding-bottom: 68px}
.list_award > li.no2{padding-bottom: 110px}
.list_award > li.no3{padding-bottom: 17px}
.list_award > li ul {border-top: 1px solid #666; padding-top: 10px; line-height: 1.5}

.sec_business{padding-top: 5rem;}
.sec_business .contents .tit_type1{border-top: 2px solid #000 ; line-height: 5rem}
.sec_business .contents .tit_type1 .tit{font-size: 1.5rem}
.sec_business .contents h3{padding: 2.5rem 0 1.25rem; }
.sec_business .contents .list_bul{margin-bottom: 2rem; line-height: 1.57;}

.sec_check .tit_type1{padding: 5.4rem 0 3.3rem;}
.sec_check .bx_calendar{padding: 2.5rem 2rem 2.25rem 3rem; font-family: 'GmarketSans'; border: 1px solid #dcdee5; border-radius: 0.5rem;}
.sec_check .bx_calendar .thismonth{border-right: 1px solid #dcdee5; padding-right: 3rem;}
.sec_check .bx_calendar .month{font-size: 2rem; color: #333}
.sec_check .bx_calendar .month + .txt{margin-top: 0.6rem; padding:0.5rem 1.65rem; border: 1px solid #dcdee5; color: #333; border-radius: 1.7rem; background: #fff; font-size: 0.75rem; }
.sec_check .bx_calendar .wrap_date{padding-bottom: 1.3rem; position: relative; overflow: hidden;}
.sec_check .bx_calendar .date{padding:0 2.5rem ; height:3rem; background: #fff; border-radius: 2rem; font-size: 1.25rem; color: #666;}
.sec_check .bx_calendar .date .wrap_num{height: 100%; }
.sec_check .bx_calendar .date .wrapper{height: 100%; width: 100%}
.sec_check .bx_calendar .date .num ~ .num{margin-left: 2rem;}
.date .today{position: relative; color: var(--color_blue); font-weight:800;}
.date .today .label{ padding:0 0.75rem; position: absolute; left: 50%; top:2.5rem; transform: translateX(-50%); display: block; background: var(--color_blue); color: #fff; font-size:0.55rem; line-height: 1.15rem; height: 1rem; border-radius: 1rem; text-align: center;}
.sec_check .bx_check .list_cur{padding: 2rem 0 1.3rem;}
.sec_check .bx_check .list_cur li ~ li{margin-right: 1.7rem;}
.sec_check .bx_check .list_cur li:before{margin-right: 0.5rem; width:2.5rem; height:2.5rem; background-position: center; background-repeat: no-repeat; background-size: 55% auto; border-radius: 100%; background-color: #4a4a4a;background-image: url("../images/ico_date_02.png");}
.sec_check .bx_check .list_cur li:nth-child(2):before{background-image: url("../images/ico_date_01.png");}
.sec_check .wrap_input{padding:2rem 3rem 1rem 2rem; border: 1px solid #dcdee5;}
.sec_check .wrap_input >p{font-size: 1.5rem;}
.sec_check .wrap_input .list_form{margin-top:1.3rem; width: 100%;}
.sec_check .list_form .inp_type1 {height: 2.85rem}
.sec_check .list_form .btn {height: 2.85rem; line-height: 2.85rem; font-size: 1.1rem; font-weight: 600}
.sec_check .wrap_form form{flex: 1;}
.sec_check .wrap_form:before{content: ""; display: block; height: 10.85rem; width:19.5rem; background: url("../images/img_deco_check.jpg") no-repeat center / auto 100%;}
.sec_check .list_form > li{display: block;}


.board_type1{text-align: center;}
.board_type1 .hd_board{ background: #f9f9f9; font-size: 1rem; color: #333333; border: 1px solid #d2d2d2; border-radius:0.5rem; line-height: 3rem; }
.board_type1 > ul > li ~ li{margin-top: 0.35rem;}
.board_type1 > ul > li{display: flex; align-items: center; justify-content: space-between;height:3.75rem; border: 1px solid #d2d2d2; border-radius:0.5rem; font-size: 0.9rem; font-weight: 500; }
.board_type1 > ul > li .time{color: #333; font-size: 0.85rem; font-weight: 600;}
.board_type1 > ul > li .id{display: flex; align-items: center; justify-content: center;color: #333;font-family: 'Noto Sans KR', sans-serif !important;}
.profile{display: inline-flex; align-items: center; justify-content: center; margin-right: 1rem; width: 2.4rem; height: 2.4rem;border-radius: 100%; background: #8e8e8e;}
.profile img{width: 70%}
.board_type1 > ul > li .txt{font-weight: 500;}

.board_type2 > ul {border-top: 2px solid #000; border-bottom: 1px solid #000; font-size: 0.9rem}
.board_type2 > ul > li{display: flex; align-items: center; justify-content: space-between; height:2.5rem;  text-align: center;}
.board_type2 > ul > li ~ li{border-top: 1px solid #d2d2d2;}
.board_type2 .wrap_search{margin: 1.75rem 0 0.75rem}
.board_type2 .wrap_search .btn_search{padding: 0 1rem}
.board_type2 ul .time{font-weight: 400}
.board_type2 .board_tit{padding: 1.8rem 2rem; box-shadow: 0px 10px 15.9808px 0.0192px rgb(0 0 0 / 8%); border-radius: 0.5rem}
.board_type2 .board_tit .tit{font-size: 1.25rem}
.board_type2 .board_tit .tit+.label{ display: inline-block; margin-left: 1rem; padding: 0 0.75rem; font-size: 0.65rem; line-height: 1.5rem; border-radius: 1.5rem}
.board_type2 .board_tit .date{margin-top: 0.6rem; color: #8e8e8e; font-size: 0.85rem}
.board_type2 .board_tit .btn_type3{padding: 0 2.4rem; line-height: 2.4rem; border-radius: 2.4rem; font-size: 0.9rem; }

.board_mypage .hd_board{margin: 4.5rem 0 1.15rem; font-weight: 600;}
.board_mypage .ranking{width: 8.57%;}
.board_mypage .time{width: 15%;}
.board_mypage .txt{margin-left:1rem; flex: 1; text-align: left; font-weight:500}
.board_mypage .history{width: 7%;}
.board_mypage .point{width: 7%; letter-spacing:-0.9px;}


.board_my .ranking{width: 8.57%;}
.board_my .time{width: 15%;}
.board_my .txt{margin-left:1rem; flex: 1; text-align: left; font-weight: 400}
.board_my .history{width: 15%;}

.content_tab{display: none;}
.content_tab.active{display: block;}

.board_chk .hd_board{margin: 4.5rem 0 1.15rem; }
.board_chk .ranking,.board_chk .count{width: 8.57%;}
.board_chk .time{width: 9.28%;}
.board_chk .txt{margin-left:1rem; flex: 1; text-align: left; }
.board_chk .id{width: 16.07%;}
.board_chk .point{width: 5.35%; }

.sec_share .wrap_tit{padding: 5rem 0 2.5rem;}
.sec_share .wrap_tit .btn_type3{padding: 0 2.5rem; line-height: 2.4rem; border-radius: 2.4rem}
.board_share .ranking{width: 6%;}
.board_share .label{width:10%;}
.board_share .label span{display: inline-block; padding:0.35rem 1.25rem;  background: var(--color_red); color: #fff; border-radius: 0.25rem;}
.board_share .time{width: 10%;}
.board_share .txt{margin-left:1rem; flex: 1; text-align: left;font-family: 'Noto Sans KR', sans-serif !important;}
.board_share .name{width: 8%;font-family: 'Noto Sans KR', sans-serif !important;}

/* sec_event_sub */
.sec_event_sub .wrap_tit{padding: 5rem 0 3rem;}
.sec_event_sub .list_event>li{ position: relative; margin-right: 1.25%; margin-bottom: 2rem; width: 32.5%; border: 1px solid #e8e8e8; box-shadow: 0px 10px 15.9808px 0.0192px rgb(0 0 0 / 8%); border-radius: 1rem; font-size: 1rem; overflow: hidden; font-family: 'Arita-dotum',sans-serif;}
.sec_event_sub .list_event>li:nth-child(3n){margin-right: 0;}
.sec_event_sub .list_event>li .dday{position: absolute; right: 1.5rem; top: 1.5rem; padding:0 1rem; line-height: 1.85rem; border-radius: 1.85rem; background: #fff; color: #464646; font-weight: bold;}
.sec_event_sub .list_event>li .wrap_img{height:11.25rem}
.sec_event_sub .list_event>li .wrap_img img{width: 100%; height: 100%; object-fit: cover;}
.sec_event_sub .list_event>li .wrap_txt{padding: 2rem 1.75rem 1.75rem; font-weight: 600;}
.sec_event_sub .list_event>li .tit{font-size: 1.3rem; letter-spacing: -0.05em;}
.sec_event_sub .list_event>li .date{margin:0.5rem 0 1.15rem; font-size: 0.85remv; color:#8e8e8e; font-weight:600;}
.sec_event_sub .list_event>li .label{display: inline-block; padding:0 0.8rem; line-height: 1.8rem; border-radius: 1.8rem; background: var(--color_blue); color: #fff; font-weight: 500; font-size: 0.75rem; font-family: 'Noto Sans KR',sans-serif;}
.sec_event_sub .list_event>li .label.ing{background-color: var(--color_red);}

.board_type2 .contents{padding: 5rem 0; border-bottom: 1px solid #dcdee5;text-align: center;}
.board_type2 .contents .wrap_img{margin:0 auto; max-width: 40.5rem;}
.board_type2 .contents + .btn{margin:2.3rem auto 0; width: 9.75rem; line-height: 3.5rem; border-radius:3.5rem; text-align: center; }
.board_type3 .btn{margin:2.3rem auto 0; width: 12rem; line-height: 3.5rem; border-radius:3.5rem; text-align: center; }

.sec_write{margin:0 auto; width: 78.6%;}
.sec_write .wrap_form{padding: 3.5rem 0 1.6rem;}
.sec_write .list_form > li > label {padding: 0; width: 5rem; font-size: 0.85rem; }
.sec_write .list_form .inp_type1.inp_txt{ padding: 1rem; height: 4.8rem}
.sec_write .list_form .inp_type1.inp_pw{ margin-right: 0.7rem; height: 2.3rem}
.sec_write .list_form .desc{margin: 0}
.sec_write .wrap_list .wrap_search{padding: 2.7rem 0 0.65rem;}
.sec_write .wrap_list .wrap_search .total {font-size: 0.85rem; color:#666}
.sec_write .list_form > li .bx_inp + .bx_inp.btn{height: 4.8rem; font-size: 1.1rem}

.list_comment > li{display: flex; align-items: center; justify-content: space-between; padding: 1.5rem 0; border-bottom: 1px solid #dcdee5;}
.list_comment > li .info{text-align: right; }
.list_comment > li .tit{margin:0 0 0.5rem; font-size: 0.95rem; font-weight: 600;  font-family: 'Noto Sans KR', sans-serif !important;}
.list_comment > li .comment{ max-width: 600px; font-size: 0.85rem; color: #666; line-height: 1.4;  font-family: 'Noto Sans KR', sans-serif !important; }
.list_comment > li .name{font-weight: 600; color: #333; font-family: 'Noto Sans KR', sans-serif !important;}
.list_comment > li .date{margin:0.5rem 0 0.75rem; font-size: 0.9rem; color: #666;}
.list_comment > li .btns .btn{width: 0.8rem; height: 0.8rem; background-position: center; background-repeat: no-repeat; background-size: 100% 100%; }
.list_comment > li .btns .btn+.btn{margin-left: 0.75rem;}
.btn.btn_modify{background-image: url("../images/ico_rewrite.png");}
.btn.btn_delete{background-image: url("../images/ico_del.png");}

.sec_share.write .tit_type1 .desc{margin-top: 1rem; margin-left: 0; line-height: 1.4;}
.sec_share.write .wrap_form{padding:2rem 0 3.2rem; border-top: 2px solid #000;}
.sec_share.write .wrap_form .bx_select{flex: none; width: 27.5rem;}
.sec_share.write .list_form{padding-bottom: 3.5rem}
.sec_share.write .list_form > li > label{font-weight: 600}

/* mypage  */
.mypage .page_type1 .bx_white{padding: 2.85rem 4.3rem 4.75rem; margin-top: 2.7rem}
.sec_myinfo{padding-bottom: 2.6rem}
.sec_myinfo .bx_border{border: 1px solid #eee; border-radius: 0.5rem}
.sec_myinfo .bx_profile{margin:1.5rem 0 1.4rem; padding: 1.25rem 1.9rem 1.5rem; font-size: 1.2rem}
.sec_myinfo .bx_profile .img_profile{margin-right: 2.15rem; width: 4.65rem; height: 4.65rem; border-radius: 100%; overflow: hidden;}
.sec_myinfo .bx_profile .img_profile img{height: 100%; object-fit:cover;}
.sec_myinfo .bx_profile .img_profile+.txt > span{display: block; margin-top: 0.6rem; font-size: 0.9rem; line-height: 1.5}
.sec_myinfo .list_info > li{width: 32%;}
.sec_myinfo .list_info > li > a{display: block; padding: 1.5rem 1.2rem 1.3rem}
.sec_myinfo .list_info > li > a:hover{border: 1px solid #f00}
.sec_myinfo .list_info .contents{margin-top: 1.8rem; text-align: right;}
.sec_myinfo .list_info .contents > p{display: inline-block; padding:0 1.5rem; border: 1px solid #ccc; line-height: 1.8rem; border-radius: 1.8rem; font-size: 1rem}
.sec_myinfo .list_info .contents > p small{font-size: 0.9rem}
.txt_underline{text-decoration: underline;}

.sel_period ul li{margin-right: 0.5rem}
.sel_period ul li *{padding:0 1rem; line-height: 2.4rem; border: 1px solid #eee; border-radius: 0.3rem; font-family: 'Noto Sans KR',sans-serif; font-weight: 300}
.sel_period ul li *:hover,.sel_period ul li.active *{color: var(--color_red); border-color:#ccc; background:#f7f7f7; font-weight:600}

.sec_edit .wrap_form{ margin:0 auto; width: 36.5rem}
