.logo_main { margin:0 0 2.6rem; padding: 1.2rem 0 0.25rem; border:2px solid #444; border-bottom: none; color:#444 ; font-size: 1.1rem}
.list_reg {text-align: left;}
.list_reg .bx_input { display: block; padding-left: 1rem; padding-right: 1rem; border: 1px solid #bbb; border-radius: 0.2rem; height: 2.9rem; line-height: 1; overflow: hidden; box-sizing: border-box;}
.list_reg .bx_input.bx_select{position: relative;}
.list_reg .bx_input.bx_select:after{ content: ""; position: absolute; right: 1rem; top: 50%; transform: translateY(-50%); width: 1rem; height: 0.5rem; background: url('/common/images/ico_arr_btm_black.png') no-repeat center / 100% 100%}
.list_reg .bx_input.type1 input { width: auto}
.list_reg .bx_input.type1 > div { position: relative; flex:1}
.list_reg .bx_input.gray { background: #f5f5f5}
.list_reg .bx_input > * { height: 100%; width: 100%; background: none; box-sizing: border-box; font-size: 0.95rem; }
.list_reg .bx_input * {font-size: 0.95rem; letter-spacing: -0.075em;}
.list_reg > li { display: flex; position: relative;}
.list_reg > li ~ li { margin-top: 0.7rem}
.list_reg .list_reg > li ~ li,.list_reg > li .wrap_type1 ~ .wrap_type1 {margin-top: 0.5rem;}
.list_reg > li > div { flex: 1; }
.list_reg > li > label { display: block; width: 21.7%; font-size: 1rem; cursor: pointer; color: var(--color-gray1); line-height: 2.9rem;}
.list_reg > li > label.nocursor { cursor: default;}
.list_reg > li .wrap_type1 > div { flex: 1}
.list_reg .bx_num { position: relative;}
.list_reg .bx_num .time { position: absolute; right: 1rem; top: 50%; transform: translateY(-50%); color: var(--color-red); font-size: 0.85rem}
.list_reg .txt_type1 { display:block; padding: 0.5rem 0 0 ; color: #999; line-height: 1.3; font-size: 0.85rem;}
.btn_gray { background: #444; color: #fff; border-radius: 0.2rem; box-sizing: border-box;}
.list_reg .btn_gray { display: inline-block; margin-left: 0.3rem; width: 6rem; height:2.9rem; line-height:2.9rem; font-family: 'Noto Sans KR',sans-serif; font-size: 0.8rem; text-align: center; cursor: pointer; transition: all .3s;}
.list_reg .btn_gray:hover{background-color: var(--color-blue);}
.list_reg.type2 > li {flex-direction: column;}
.list_reg.type2 > li ~ li.list_reg.type2 > li .wrap_type1 ~ .wrap_type1 {margin-top: 1.5rem;}
.list_reg.type2 > li > label { width: auto; color: #000; font-size: 1.15rem; font-weight: 700;}
.list_reg.type2 > li > label small {font-size: 0.75em;}
.list_reg.type2 .bx_input { height:2.9rem; font-size: 0}
.list_reg.type2 .bx_input.textarea{padding:1rem; height:5.65rem}
.list_reg.type2 .bx_input * { background: none}
.list_reg.type2 > li > div { flex:none; }


/* login page */
.sec_login { text-align: center; box-sizing: border-box;}
.sec_login.sec_type1 .sec_tit { border-bottom: none;}
.sec_login .wrap_com{width: 22rem;}
.sec_login .list_reg > li ~ li{margin-top: 0.4rem;}
.sec_login .list_reg > li:after { position: absolute; left: 1rem; top: 0; width: 1rem; height: 100%; background-repeat: no-repeat; background-position: center; background-size: 100% auto; }
.sec_login .list_reg > li.id:after { background-image: url(/common/images/ico_id.png)}
.sec_login .list_reg > li.pw:after { background-image: url(/common/images/ico_pw.png)}
.sec_login .list_reg .bx_input { padding:0 0 0 2.5rem; width: 100%; box-sizing: border-box; color: #000}
.sec_login .btn_login { margin:2.75rem 0 1.65rem; font-size: 1.25rem; }
.sec_login .wrap_chk { text-align: left;}
.sec_login .wrap_chk label { cursor: pointer; color: #444; font-weight: 400; font-size: 0.75rem}
.sec_login .list_find { font-size: 0}
.sec_login .list_find li { position: relative; display: inline-block; padding: 0 0.95rem }
.sec_login .list_find li ~ li:before { content: ""; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 1px; background: #e9e9e9; height: 13px}
.sec_login .list_find li a { display: block; padding: 0.25rem 0; font-size: 0.75rem; color: #444; font-weight: 500; }
.sec_login.complete .heading + p {margin-top:1.15rem; font-size: 1.75rem;}



/* signup - common */
.sec_signup .form_tit{margin-bottom:1.85rem; padding: 4rem 0 1.1rem; border-bottom: 1px solid var(--color-gray2);}
.sec_signup .wrap_btn{margin-top: 1.9rem; }
.sec_signup.form{padding-top: 2rem; border-top: 1px solid var(--color-gray2);}
.sec_signup .view { padding-left: 0.8rem; color: #666; text-decoration: underline; font-weight: 500}
.sec_signup.write { text-align: center;}
.sec_signup.write form { padding: 3.5rem 0 0; font-size: 0.75rem;}
.sec_signup .list_step li { width: 6.7rem; text-align: center;}
.sec_signup .list_step li:before { content: ""; display: inline-block; width: 3.2rem; height: 3.2rem; background-image: url(/common/images/ico_agree.png); background-repeat: no-repeat; background-position: center; background-size: auto 50%; background-color: var(--color-gray2); border-radius: 100%; }
.sec_signup .list_step li.active:before { background-color: var(--color-blue)}
.sec_signup .list_step li p { padding:0.9rem 0 0; font-size: 0.9rem; color: #3d3f41;}
.sec_signup .list_step li:nth-child(2):before { background-image: url(/common/images/ico_reg.png);}
.sec_signup .list_step li:nth-child(3):before { background-image: url(/common/images/ico_fin.png); }
.list_reg > li.required > label > span:after
 { content: "*"; display: inline-block; color: var(--color-red);}
.sec_signup.write .list_reg .bx_num { position: relative; margin-top: 0.5rem; width: 12rem}
.sec_signup.write .list_reg .bx_tel select { height: 100%; width: 30%; }
.sec_signup.write .list_reg .bx_tel input { width: 60%}
.sec_signup.write .wrap_btn { padding: 3.75rem 0 14.5rem}


/* 약관동의 - signup1-agree.html */
.sec_signup.agree form {font-size: 0.75rem;}
.sec_signup.agree form legend { padding: 0 0 3.35rem}
.sec_signup.agree form ul li { color: #666}
.sec_signup.agree form ul li ~ li { padding: 0.85rem 0 0; }
.sec_signup.agree form .btm { margin-top: 1rem; padding: 1.6rem 4.5%; border: 1px solid #cfcfcf}
.sec_signup.agree form .btm > li { display: flex; justify-content: space-between; align-items: center;}
.bx_agree .bx_input { height: auto; padding-bottom: 1.5rem; font-size: 0.75rem; color: #666}


/* 아이디 찾기 */
.sec_signup.find_id .wrap_btn,
.sec_find.pw .wrap_btn
 {padding-top: 3.2rem; border-top: 1px solid var(--color-gray2);}
.sec_find { padding:2rem 0; text-align: center;}
.sec_find .bx_result { background:#f4f4f4; padding:2rem }
.sec_find .bx_result > p { font-size: 1.1rem}
.sec_find .bx_result > span { display: block; padding: 1.1rem 0 1.5rem; color: #666}
.sec_find .wrap_title .h_type3 { padding-bottom: 3.5rem}
.sec_find .wrap_title > p { padding: 0 0 2rem; font-size: 1.25rem}
.sec_find .btn_w {border: none;}
.sec_find .list_reg:first-of-type {padding-bottom: 2.4rem;}

/* regist page */
.sec_reg .item_info .list_reg{font-size: 0;}
.sec_reg .item_info .list_reg > li > label {padding:0 17px 0 19px; width: auto;}
.sec_reg .item_info .list_reg > li:nth-child(1),
.sec_reg .item_info .list_reg > li:nth-child(2) {display: inline-flex; width: 50%;}
/* .sec_reg  {height: 5.65rem;} */
/* .sec_reg .item_method ul li{display:flex; align-items: center; height: 4.1rem;     padding-left: 1rem; padding-right: 1rem; border: 1px solid #bbb; border-radius: 0.2rem; color: #3d3f41; font-size: 0.95rem; letter-spacing: -0.075em; }
.sec_reg .item_method ul li ~ li{margin-top: 0.5rem; }
.sec_reg .item_method ul li > label {display: block; width: 7.2rem; font-size: 1.4rem; color: #000; font-weight: 700;}
.sec_reg .item_method ul li > p{flex: 1; line-height: 1.47;} */
.sec_reg .item_image ul li ~ li {margin-top: 0.8rem;}
.sec_reg .item_image ul li > label{margin-bottom:0.55rem; font-size: 0.95rem; color: #3d3f41; line-height: 1;}
.sec_reg .item_video .btn {font-size: 0.85rem; color: #828384;}
.sec_reg .list_reg.type2 .bx_input.textarea {height: 16rem;}
.sec_reg .item_radio ul{display: block; font-size: 1rem;}
.sec_reg .item_radio ul li label {line-height: 2;}




/* popup */
.popup { display: none; position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,0.5); z-index: 10000; line-height: 1}
.popup.active { display: block !important;}
.popup > .inner { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); min-width: 700px; background: #fff; overflow: hidden;}
.popup > .inner > .btn_close:after { content: "X"; display: block; position: absolute; right: 1.8rem; top: 2rem; padding:0.2rem; font-size: 1.3rem; font-family: 'Montserrat',sans-serif; font-weight: 600}
.popup .btn_close { position: absolute; right: 0; top: 0; }
.popup > .inner { padding: 2.75rem 3rem 3rem}
.popup .title { padding: 0 0 2rem; font-size: 1.9rem; font-weight: 400; letter-spacing: -0.05em; border-bottom:3px solid #444 }

/* table */
.tb_type1 { border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; font-size: 0.75rem; line-height: 1.26rem; word-break: keep-all;}
.tb_type1 th, .tb_type1 td { padding: 1rem 1.75rem }
.tb_type1 thead { background: #f4f4f4}
.tb_type1 tbody { color: #666}
/* 개인정보 수집 팝업 */
.popup.policy .txt { padding: 1.6rem 0 ; font-size: 0.8rem; color: #666; line-height: 1.7}


/* mypage - common */
.wrap_mypage.wrap_com { padding-top: 5rem; width: 50.25rem;}
.wrap_mypage .wrap_title { padding: 0 0 1.2rem}
.wrap_mypage .wrap_title .heading { font-size: 1.25rem; font-weight: 600;}
.wrap_mypage .wrap_title .heading span{ color: var(--color-gray1)}
.wrap_mypage > .left { width: 24.57%;}
.wrap_mypage > .right { width: 70%;  }
.wrap_mypage > .right section { padding-top: 5rem}
.wrap_mypage > .right section ~ section { margin-top: 1.5rem}
.wrap_mypage .sec_tit .heading { margin:0 0 2.1rem; font-size: 1.7rem;}
.nav_mypage {letter-spacing: -0.05em; box-sizing: border-box; line-height: 1.87; font-size: 0.8rem}
.nav_mypage nav > ul > li { margin: 0 0 0.5rem}
.nav_mypage nav > ul > li > a { display: block; line-height:3.5rem; border: 1px solid var(--color-gray2); border-radius: 0.25rem; color: var(--color-blue); font-weight: 700; font-size: 1.15rem; text-align: center; transition: all .3s}
.nav_mypage nav > ul > li.active > a {border-color: var(--color-blue); background-color: var(--color-blue); color: #fff;}
.sec_mypage .list {padding-top: 0.9rem;}
.sec_mypage .list > li {display: flex; align-items: center; justify-content: space-between; padding:1.1rem 1.1rem 1.1rem 1.5rem; border: 1px solid var(--color-gray2); border-radius: 0.25rem; color: var(--color-gray1);}
.sec_mypage .list > li ~ li{margin-top: 0.55rem;}
.sec_mypage .list > li > div{ display: flex; align-items: center;}
.sec_mypage .list > li .hospital {margin: 0 1.1rem 0 1.4rem;}
.sec_mypage .list > li .btn_blue{padding: 0.4rem 1.6rem; margin-left: 1.2rem; border-radius: 1.5rem;}

.wrap_input { height: 2.5rem; font-size: 0}
.wrap_input > * { height: 100%; box-sizing: border-box; border-radius: 0.2rem; font-size: 0.75rem; font-family: 'Noto Sans KR',sans-serif;}
.wrap_input > input { padding-left: 1rem; width:20.5rem;  border: 1px solid #e8e8e8; background: #fff}
.wrap_input > button, .wrap_input > a { display:inline-block; margin-left: 0.4rem; width: 6rem; vertical-align: middle; text-align: center; line-height: 2.5rem}



/* CASE SHARING page */
.sec_detail .doctor {padding-bottom: 1.5rem; border-bottom: 1px solid var(--color-gray2);}
.sec_detail .doctor h3 {margin-right: 0.7rem;}
.sec_detail .doctor > div {margin-right: 0.85rem;}
.sec_detail .wrap_box { display: flex; justify-content: space-between; flex-wrap: wrap; font-size: 0.9rem; color: var(--color-gray1);}
.sec_detail .wrap_box .box{ margin-top: 0.6rem; padding: 1.4rem 0 1.6rem 1.3rem; border-radius: 0.25rem; overflow: hidden; box-sizing: border-box; line-height: 1.55;}
.sec_detail .wrap_box .box:nth-child(1),
.sec_detail .wrap_box .box:nth-child(2) {width: 49.2%;}
.sec_detail .wrap_box h3{margin:0 0 1rem; font-size: 1rem; color: #000;}
.sec_detail .box.info ul li{display: flex; align-items: center;}
.sec_detail .box.info .age,
.sec_detail .box.info .gender{display: inline-flex; margin-right: 0.85rem;}
.sec_detail .box.image{padding: 0}
.sec_detail .box.image ul li {position: relative; overflow: hidden; padding:0 0 35%; margin-bottom: 0.3rem; height:0; width: 17.3rem; border-radius: 0.25rem;}
.sec_detail .box.image ul li img{position: absolute; left: 0; right: 0; top: 0; bottom: 0; object-fit: cover; width: 100%; height: 100%;}


.sec_policy > div {padding: 40px 35px}
.sec_policy h2 {padding: 57px 0; font-size: 56px; text-align: center; border-bottom: 3px solid #222; color: #222}
.sec_policy.txt_type2 {font-size: 15px}
.sec_policy .list > li > p {padding: 30px 0 15px 0; color: #222; font-size: 24px; font-weight: 500;}


/* shcedule page */
.wrap_com.schedule {width: 890px;}
.sec_schedule.sec_type1 .sec_tit {border-bottom: none;}
.sec_schedule .list > li{overflow: hidden; float: left; margin-right: 2%; margin-bottom: 2.5rem; width: 32%; border-radius: 0.5rem; }
.sec_schedule .list > li:nth-child(3n) {margin-right: 0}
.sec_schedule .list > li > a {display: block; color: var(--color-gray1); font-size: 0.9rem; }
.sec_schedule .list > li > a .box_img { overflow: hidden; height:20rem; border-radius: 0.5rem; }
.sec_schedule .list > li > a .box_img img{width: 100%; height: 100%; object-fit: cover;}
.sec_schedule .list > li > a .title { display: -webkit-box; display: -ms-flexbox; max-height: 2.4rem; overflow:hidden; margin: 25px 0 10px; vertical-align:top; text-overflow: ellipsis; word-break:break-all; -webkit-box-orient:vertical; -webkit-line-clamp:2; }
.sec_schedule .title {font-weight: 700; line-height: 1.33;}
.sec_schedule .date {font-weight: 500; font-family: 'FS Albert Pro'}
.sec_schedule.detail .box_title{color: var(--color-gray1); font-size: 1.2rem}
.sec_schedule.detail .date {font-size: 0.9rem}
.sec_schedule.detail .title {margin: 0.5rem 0 1rem}
.sec_schedule.detail .box_content{padding: 2.1rem 2.5rem 0}
