main { display: block; min-height: 100vh}
.title_sub { position: relative; margin-bottom: var(--px23);}
.title_sub .title { text-align:center; font-family: 'Noto Sans KR',sans-serif; font-size: var(--px28); letter-spacing: -0.075em; line-height: 2.25rem}
.title_sub .btn_back { position: absolute; left: 0; top: 0; bottom: 0; width: 3.1rem; background: red}


.sec_login { text-align: center; box-sizing: border-box;}
.sec_login > div { width: 71%; margin: 0 auto}
.sec_login .mainlogo { padding: 1.675rem 0 1.125rem; font-size: 1rem}
.sec_login form * { font-family: 'Noto Sans KR',sans-serif; letter-spacing: -0.075em}
.sec_login > .login_super form ul li { position: relative; margin:0 0 var(--px11); border: 1px solid #ddd; }
.sec_login > .login_super form ul li:after { position: absolute; left: 1rem; top: 0; width: var(--px23); height: 100%; background-repeat: no-repeat; background-position: center; background-size: 100% auto; }
.sec_login > .login_super form ul li.id:after { background-image: url(/common/images/ico_id.png)}
.sec_login > .login_super form ul li.pw:after { background-image: url(/common/images/ico_pw.png)}
.sec_login > .login_super form ul li input { padding:0 0 0 2.5rem; width: 100%; line-height: 1.75rem; box-sizing: border-box; color: #000; }

.sec_login > .login_super form .btn_login { margin:1rem 0 0.9rem; width:100%; background:#444 ; font-weight: 500}
.sec_login .wrap_chk { text-align: left;}
.sec_login .wrap_chk label { cursor: pointer; color: #444; font-weight: 400; font-size: var(--px18)}
.sec_login .btn_login { display: block; line-height: 1.85rem; border-radius: 3px; color: #fff; font-size:var(--px25)}
.sec_login .list_find { font-size: 0}
.sec_login .list_find li {  position: relative; display: inline-block; padding: 5px var(--px25) }
.sec_login .list_find li:after { content: ""; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 1px; background: #e9e9e9; height: 13px}
.sec_login .list_find li a { display: block; padding: 0.25rem 0; font-size: var(--px20); color: #444; font-weight: 500; }
.login_sns h3 { padding: 1.6rem 0; color:#7c7c7c; font-size: var(--px20)}
.sec_login .login_sns ul li {  position: relative; margin: 0 0 var(--px11)}
.sec_login .login_sns .naver:before { position: absolute; left: 0; top: 0; bottom: 0 ; width: 1.7rem; background: url(/common/images/ico_naver.png ) no-repeat center / 36% auto; border-right: 1px solid #2aa104}


/* 회원가입 */
.list_form .view { padding-left: 0.8rem; color: #666; text-decoration: underline; font-weight: 500}
.list_form .txt_type1 { display:block; padding: 0.5rem 0 0 ;font-size: 0.65rem; color: #999; line-height: 1.3}
.list_form .btn_gray { margin-left:var(--px10); height:2rem; font-size: var(--px18)}
.list_form { text-align: left}
.list_form .bx_input { display: block; padding-left: 0.5rem; padding-right: 1rem; border: 1px solid #bbb; border-radius: 0.2rem; height: 2rem; line-height: 1; overflow: hidden; box-sizing: border-box;}
.list_form .bx_input.type1 input { width: auto}
.list_form .bx_input.type1 > div { position: relative; flex:1}
.list_form .bx_input.gray { background: #f5f5f5}
.list_form .bx_input > * { height: 100%; width: 100%; background: none; box-sizing: border-box;}
.list_form > li ~ li { margin-top: var(--px16)}
.list_form > li > div { flex: 1; }
.list_form > li > label { display: block; width: 28%; line-height:2rem; font-size: var(--px25); cursor: pointer;}
.list_form > li > label.nocursor { cursor: default;}
.list_form > li .wrap_type1 > div { flex: 1}
.list_form > li .wrap_type1 .btn_gray { padding: 0.5rem; min-width: 25%; box-sizing: border-box;}
.list_form > li .wrap_type1 ~ .wrap_type1  { margin: 0.5rem 0 0}
.list_form .bx_num { position: relative;}
.list_form .bx_num .time { position: absolute; right: 1rem; top: 50%; transform: translateY(-50%); color: #f00; font-size: 0.7rem}

/* 회원가입 - common */
.sec_reg { padding-top: 1.5rem; }
.sec_reg form legend { padding: 2rem 0; font-size: var(--px27); text-align: center;}
.btn_gray { background: #444; color: #fff; border-radius: 0.2rem; box-sizing: border-box;}
.wrap_btn > * { display: block; line-height: 2rem; height: 2rem; border-radius: 0.2rem; font-size: var(--px25); font-family: 'Noto Sans KR',sans-serif; letter-spacing: -0.05em; box-sizing: border-box; text-align: center;}
.wrap_btn.flex.space > * { width: 49%;}
.wrap_btn .btn_prev,
.btn_w { border: 1px solid #ddd; color: #666 ; background:#fff; border-radius: 0.2rem}
.sec_reg .list_step li { width:4rem; text-align:center;}
.sec_reg .list_step li:before { content: ""; display: inline-block; width: 2rem; height: 2rem; background-image: url(/common/images/ico_agree.png); background-repeat: no-repeat; background-position: center; background-size: auto 50%; background-color: #c7c7c7; border-radius: 100%; }
.sec_reg .list_step li.active:before { background-color: #535353}
.sec_reg .list_step li p { font-size: var(--px20); }
.sec_reg .list_step li:nth-child(2):before { background-image: url(/common/images/ico_reg.png);}
.sec_reg .list_step li:nth-child(3):before { background-image: url(/common/images/ico_fin.png); }

/* 약관동의 - signup1-agree.html */
.sec_reg.agree form { font-size: var(--px22);}
.sec_reg.agree form ul li { color: #666}
.sec_reg.agree form ul li ~ li { padding: var(--px10) 0 0; }
.sec_reg.agree form .btm { margin-top: var(--px23); padding: var(--px30) var(--px25); border: 1px solid #cfcfcf}
.sec_reg.agree form .btm > li { display: flex; justify-content: space-between; align-items: center;}
.sec_reg.agree form .wrap_btn { padding:var(--px20) 0 0}

/* 정보입력 - signup2-form.html */
.sec_reg.write { text-align: center;}
.sec_reg.write .list_form > li > label > span:after,
.popup.mileage .list_form > li > label > span:after,
.list_form > li.required > label > span:after
 { content: "*"; display: inline-block; color: #f00;}
.sec_reg.write .list_form .bx_num { position: relative; margin-top: 0.5rem; }
.sec_reg.write .list_form .bx_tel select { height: 100%; width: 30%; }
.sec_reg.write .list_form .bx_tel input { width: 60%}
.sec_reg.write .wrap_btn { padding: 1rem 0 3rem}
.bx_agree .bx_input { height: auto; padding-bottom: 1.5rem; font-size: 0.75rem; color: #666}

/* 회원가입 완료 - signup3-complete.html */
.sec_fin h2 { padding: 1.8rem 0 0; color: #222; font-size: 1.2rem; line-height: 1.2}
.sec_fin h2 span { font-size: 0.9rem}
.sec_fin .wrap_btn.btm { position: relative; padding-top: 1.27rem ; border-top: 1px solid #e8e8e8}
.sec_fin .or { position: absolute; left: 50%; padding: 0 1rem; transform: translate(-50%, -3px) ; color: #7c7c7c; font-size: var(--px18); letter-spacing: -0.05em; background: #fff; z-index: 1;
}

.bg_contents { background-color:#f7f7f7}

/* 메가밀리언 구매 */
.sec_info > .bx_info { margin-bottom: var(--px27);  overflow: hidden; letter-spacing: -0.075em}
.sec_info > .bx_info .txt_type1 { font-size: 0.78rem}
.sec_info > .bx_info > ul { color: #313131}
.sec_info > .bx_info > ul > li:nth-child(1) { margin-bottom: var(--px15); text-align:center; background:#f6f2e7 !important}
.sec_info > .bx_info > ul > li { padding: 0.825rem 0 var(--px23); border:1px solid #ddd; box-sizing: border-box; line-height: 1.38; font-size: var(--px22); background: #fff}
.sec_info > .bx_info > ul > li > div { display: table; margin: 0 auto}
.sec_info > .bx_info > ul > li ~ li { border-left: 1px solid #ddd; width:48.8% }
.sec_info > .bx_info > ul > li .title { color: #000; font-size: var(--px25)}
.sec_info > .bx_info .ico_date:after { margin-left: 0.2rem; width:var(--px30); height:var(--px30); background: url(/common/images/ico_date.png) no-repeat center / 100% 100%}
.sec_info > .bx_info .ico_time_ko:after { margin-left: 0.2rem; width:1.75rem; height:var(--px30); background: url(/common/images/ico_time_ko.png) no-repeat center / auto 100%}
.nation .add_before:before { margin-right: 0.2rem; width:var(--px30); height:var(--px20); border: 1px solid #ddd; }
.ico_us:before { background: url(/common/images/ico_us.png) no-repeat center / 100% 100%}
.ico_ko:before { background: url(/common/images/ico_ko.png) no-repeat center / 100% 100%}


.sec_game { padding-bottom: 1.1rem ; color: #fff ; font-family: 'GmarketSans'; border-radius: 0.5rem}
.sec_game .btn_red.btn_next { display:block; margin: 1rem auto 0; width: 7.5rem;font-size: var(--px28); line-height: 1.55rem; border-radius: 1.55rem; text-align: center;}
.sec_game * { color: #fff}
.sec_game .pay.right { padding: 1.1rem 0.75rem 0.95rem; background: #333; border-radius: 1rem; box-sizing: border-box; letter-spacing: -0.075em}
.sec_game .choice .title { padding: 1.4rem 0 var(--px30); font-size: var(--px25)}
.sec_game .choice .title span { color: #c5c5c5; font-weight: 300}
.sec_game .choice .list_btn > li { float: left; margin-right: 2%; margin-bottom: var(--px14); width: 32%; border: 1px solid #535353; border-radius: 0.25rem; overflow: hidden; box-sizing: border-box;}
.sec_game .choice .list_btn > li:nth-child(3n) { margin-right: 0}
.sec_game .choice .list_btn > li > * { display: block; width: 100%; height: 1.62rem; line-height: 1.62rem; background: #333; font-size: var(--px27); font-weight: bold; letter-spacing: -0.075em; transition: all .3s; font-family: 'GmarketSans'}
.sec_game .choice .list_btn > li > *:hover { background: #f00;}
.sec_game .choice .step2 .list_btn > li { width: 32%}
.bx_balls { box-sizing: border-box; overflow: hidden; }
.sec_game .choice ol:after { content: ""; display: block; clear: both}
.list_num > li { float: left; border-radius: 100%; box-sizing: border-box; border: 1px solid #5c5c5c; text-align: center; overflow: hidden;}
.list_num > li > a { display: block; width: 100%; height: 100%; font-size: 3.2vw}
.sec_game .list_num > li { margin-right: 1.1vw; margin-bottom: 6px; width: 8.5vw; height: 8.5vw;  line-height: 8.5vw;}
.sec_game .step .list_num > li:nth-child(9n){ margin-right: 0;}
.sec_game .choice .step3 .list_num > li > *:hover,
.sec_game .choice .step3 .list_num > li.on > *{ background: #fff; color: #000}
.sec_game .bg_black { padding-left: 3.5vw; padding-right: 3.5vw; padding-bottom: 1.05rem; background: #1b1b1b; border-radius: var(--px20)}
.sec_game .choice .step4 .list_num > li > *:hover { background: #f00;}
.sec_game .pay .top { padding: 0 0 0.7rem; border-bottom: 1px solid #434343}
.sec_game .pay .top > strong { font-size: 0.95rem;  line-height: 1.25rem; }
.sec_game .pay .top > strong:before { margin-right: 0.5rem; margin-left: 1.5rem; width: 1.65rem; height: 1.15rem; background: url(../images/ico_list.png) no-repeat center / 100% 100%}
.sec_game .pay .top > button { width: 3.1rem; height: 1.25rem; font-size: 0.75rem; color: #666; font-weight: 500}
.sec_game .pay .bx_border { border: 1px solid #5c5c5c; border-radius: 0.25rem}
.sec_game .pay .btn_save {margin:0.5rem 0 0; width: 100%; height:2rem;  background: #1b1b1b; line-height: 1.8rem; font-size: var(--px21)}
.sec_game .pay .btn_save:after { margin-left: 1rem; width: 0.75rem; height: 0.85rem; background: url(../images/ico_save.png) no-repeat center / 100% 100% }
.sec_game .pay .btn_save + p { margin: 0 0 0.5rem; padding: 0.9rem 0; font-size: var(--px27); text-align: center; border-bottom: 1px solid #5c5c5c;}
.sec_game .wrap_game { padding: 0.875rem var(--px25) 0.5rem; border: 1px solid #5c5c5c; }
.sec_game .list_game { font-size: var(--px23); letter-spacing: }
.sec_game .list_game .list_num > li { margin-right: var(--px6); margin-bottom: 0.25rem; width: 1.4rem; height: 1.4rem; line-height: 1.45rem; }
.sec_game .list_game .list_num > li ~ li { margin-left: 0.2rem}
.sec_game .list_game .active .list_num > li:not(:last-child) a { background: #fff; }
.sec_game .list_game .active .list_num > li:last-child a { background:#e60012; color: #fff}
.sec_game .pay .list_game .list_num a { color:#000; font-size: var(--px23) !important}
.sec_game .pay .list_game .btns > * { width: 1.4rem; height: 1.3rem; border-radius: 0.25rem; font-family: 'GmarketSans'; line-height: 1.3rem; font-size: var(--px19)}
.sec_game .pay .list_game .btn_re, .sec_game .bx_result { background: #1b1b1b; }
.sec_game .pay .list_game .btn_del { margin-left: 0.2rem; background: #e60012; }
.sec_game .bx_result { margin: var(--px26) 0 var(--px12); padding: 1.3rem var(--px30); font-size: var(--px27); line-height: 1}
.sec_game .bx_result .top button { margin-left: 0.8rem; font-size:var(--px23) ; height: 1.25rem; width: 3rem;}
.sec_game .bx_result .top .left { line-height: 1.65rem}
.sec_game .bx_result .top .right > p { padding: var(--px18) 0 0; font-size: var(--px25); color: #bababa;text-align: right;}
.sec_game .bx_result .btm { padding: var(--px30) 0 0; font-size: var(--px30)}
.sec_game .bx_result .btm .left { font-size: 1rem}
.sec_game .bx_result .btm > p strong { font-size: 1.15rem}
.sec_game .btn_pay { width: 100%; height: 2.5rem; line-height: 2.5rem; font-size: 1rem; }

.btn_get { display: flex; margin-bottom: 1rem; overflow: hidden;}
.btn_get > * { color: #fff; font-size:0.7rem; font-family: 'GmarketSans'; font-weight: 700; line-height: 2.5rem; height:2.25rem; }
.btn_get .btn_cancel { width: 30%; background:#333; }
.btn_get .btn_red { flex: 1; background: #ff0000;  }
.btn_get .btn_red .add_before:before { margin-right: var(--px22); content: ""; display: inline-block; width: 1rem; height: 0.8rem; background: url(/common/images/ico_list.png) no-repeat center /100% 100%; }

.sec_find { padding: 2rem 0 0; text-align: center;}
.sec_find .bx_result { background:#f4f4f4; padding:1rem }
.sec_find .bx_result > p { font-size: 0.7rem; line-height: 1.3}
.sec_find .bx_result > span { display: block; padding: 0.7rem 0 1rem; font-size: 0.6rem; color: #666}
.sec_find .wrap_title .h_type3 { padding-bottom: 3.5rem}
.sec_find .wrap_title > p { padding: 0 0 1rem; font-size: var(--px30); line-height: 1.3}

.sec_reg.find .wrap_btn { margin-top: 1rem}
