

body button, a, textarea, input, section { font-family: 'NanumSquareR',sans-serif; outline: 0}

main { min-height: calc(100vh - 33.32vw)}
main.auto { min-height: auto;}

#wrap_gnb { position: fixed; padding: 22vw 0vw 15vw; width: 100vw; height: 100vh; right: -100%; top: 0; bottom: 0; background: #fff; box-sizing: border-box; transition: all 500ms cubic-bezier(0.770,0.000,0.175,1.000); overflow-y: scroll; overflow-x: hidden;}

#wrap_gnb.on { right: 0;}
#wrap_gnb .btn_close { position: absolute; right: 0; top: 0; width: 13.77vw; height: 13.77vw; background: url(../images/ico_x.svg) no-repeat center / 40% auto}
#wrap_gnb ul ul { display: none; padding: 3vw 5.55vw; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #f8f8f9; margin-bottom: -1px; box-sizing: border-box;}
#wrap_gnb nav > ul > li > a { font-family: 'NanumSquareB'}
#wrap_gnb ul ul a { display: block; height:12vw; line-height: 12vw; font-size: var(--px14)}
#wrap_gnb ul li { transform:translate3d(250px, 0, 0); transition: all 500ms cubic-bezier(0.770,0.000,0.175,1.000) ; }
#wrap_gnb.on ul li { transform:translate3d(0, 0, 0)}
#wrap_gnb .link_index { display:block; position: absolute; left: 5.55vw; top: 1vw; width: 20vw; height: 13.77vw; background: url(../images/logo_2pm_black.png) no-repeat center / 100% auto;}



:root {

  --org: #ef8101;
  --gray150: rgba(150,150,150,1);
  --gray200: rgba(200,200,200,1);
  --gray50 : rgba(50,50,50,1);
  --power : #da2424;
  --mega : #e6c10f;
  --px13 : 3.61vw;
  --px14 : 3.88vw;
  --px15 : 4.16vw;
  --px16 : 4.44vw;
  --px18 : 5vw;
  --px20 : 5.55vw;

}

/* color */
.color_org { color: var(--org) !important}
.color_red { color: #ec483d}
/* layout */
.wrap { padding-left:5.55vw !important; padding-right: 5.55vw !important; box-sizing: border-box;}
.wrap_img img { width: 100%}
.flex_space { display: flex; align-items: center; justify-content: space-between; box-sizing: border-box;}
.left { float: left;}
.right { float: right;}

/* tab */
.sec_tab .tab_type1 { position: inherit;}
.tab_type1 { position: fixed; left: 0; right: 0; top: 15vw; display: flex; z-index: 10}
.tab_type1 li { flex:1;}
.tab_type1 li > * { display: block; position: relative; box-sizing: border-box; background: #fff; width: 100%; height: 15.55vw; line-height: 15.55vw; font-size: var(--px15); color: var(--gray150); text-align: center; font-family: 'NanumSquareB'}
.tab_type1 li > *.on { color: var(--org)}
.tab_type1 li > *.on:after { content:""; position: absolute; left: 0; right: 0; bottom: 0; height: 2px; background: var(--org)}

.tab_type2 { display: flex;  border-radius: 1.38vw; background: #fbfbfc; overflow: hidden; box-sizing: border-box;}
.tab_type2 li { flex: 1}
.tab_type2 li > * { display: block; width: 100%; height: 13.33vw; line-height: 14vw; background: #fbfbfc; font-size: var(--px18); color: rgba(0,0,0,0.4); font-family: 'Montserrat',sans-serif; box-sizing: border-box; text-align: center; font-weight: bold; letter-spacing: -1px; border: 1px solid #ddd;}
.tab_type2 li:first-child > * { border-right: 0; border-radius: 1.38vw 0 0 1.38vw}
.tab_type2 li:last-child > * { border-left: 0; border-radius: 0 1.38vw 1.38vw 0}
.tab_type2 li.on > * { border:none;}
.bx_tab { display: none;}
.bx_tab.on { display: block;}


/* margin */
.mar_btm_10 { margin-bottom: 2.77vw; box-shadow: 0px 1px 1px rgba(0,0,0,0.1)}

/* button */
.btn_type1 { border: 1px solid var(--gray150); color: var(--gray50); background-color: transparent; height: 11.11vw; line-height: 11.11vw; font-size: var(--px15); padding: 0 6.38vw ; border-radius: 10vw; text-align: center; font-family: 'NanumSquareB'}
}
.btn_type2 { display: block; width: 100%; height: 14.44vw; line-height: 16vw; border-radius: 14.44vw;}
.btn_type3 { padding: 0 8.33vw; height: 12.22vw; line-height: 12.5vw; border-radius: 12.22vw; font-size: var(--px20); font-family: 'NanumSquareB'; }
.btn_org { background-color: var(--org); color: #fff; font-family: 'NanumSquareB'; font-size: var(--px18); text-align: center; }
.btn_gray { background-color: #ebebee; color: var(--gray150)}
.btn_send { padding: 0 4vw; border-radius: 1.38vw; color: rgba(0,0,0,0.65); background: #d8d7d6; border: 1px solid #ada9a9; font-size: var(--px13); font-weight: bold;}
.bx_btn { padding-top: 7vw; text-align: center;}
.bx_btn.flex_space button,
.bx_btn.flex_space a { width: 42.5vw !important;box-sizing: border-box;}

/* form */
.form_type1 .btn_cancel { background-color: transparent; border: 1px solid var(--gray150)}
.form_type1 .btn_ok { background-color: var(--org); color: #fff; }


/* input type ======================= */
/* chk */
input[type="checkbox"], input[type="radio"] { position: absolute; left: -1000%}

.chk_type1 + label:before { content:""; display: inline-block; margin-right: 2.77vw; width: 6.94vw; height: 6.94vw; background: url(../images/ico_chk_gray.svg) no-repeat center / 50% auto; box-sizing: border-box; border: 1px solid var(--gray150); border-radius: 100%; vertical-align: -2.5vw;}
.chk_type1:checked + label:before { background-color: var(--org); background-image: url(../images/ico_chk_w.svg); border: none}

/*input type=password*/
.passwd_input { font-family:auto !important; }

/* select */
select {
  -moz-appearance:none; -webkit-appearance:none; appearance:none;
  outline: 0;
}
.wrap_sel_type1 { position: relative;}
.wrap_sel_type1:after { position: absolute; top:50%; transform: translateY(-50%); right:var(--px20);  content: ""; width: 5vw; height: 4vw; background: url(../images/ico_arr_btm_sel.png) no-repeat center /100% auto;}
.wrap_sel_type1 select { padding: 0 0 0 var(--px15); width: 100%; height: 12.22vw; line-height:12.22vw;  background: #fff; border: 1px solid #e6e6e6; border-radius: 1.38vw; font-size: var(--px15); color: var(--gray50); box-sizing: border-box; background-color: #fff}

/* textarea */
textarea { padding: 2.4vw; border-radius: 1.38vw; width: 100%; box-sizing: border-box; color: var(--gray50); border: 1px solid #ddd; font-size: var(--px15); color: var(--gray50); appearance:none; -webkit-appearance:none; -moz-appearance:none; height:66.66vw; }
textarea:focus { outline: 0;}
textarea::-webkit-input-placeholder,
textarea::placeholder { color: var(--gray150); font-size: var(--px14)}


/* heading */
.h_type1 { font-size: var(--px20); color: var(--gray50); font-family: 'NanumSquareEB'; text-align: left !important;}
.h_type2 { float: left; height: 100%; }
.h_type2 a { display: block; height: 15vw; line-height: 15vw; box-sizing: border-box; color: #fff; font-family: 'NanumSquareEB'; font-size: var(--px15);}


.txt_type1 { font-size: var(--px14); color: var(--gray50); font-family: 'NanumSquareB'; line-height: 1.7}




header { position: fixed; left: 0; right: 0; top: 0; height: 15vw; background: #000; z-index: 100}
header h1 { float: left; }
header h1 a { display: block; padding-left: 5.55vw; padding-right: 3vw; width: 19.44vw; height: 15vw; line-height: 15vw; background: url(../images/logo_2pm.png) no-repeat left 5.55vw center /17vw auto}
header h1 a img { width: 100%}
header .wrap_btn { float: right; font-size: 0; line-height: 1}
header .wrap_btn > * { display: inline-block; width: 15vw; height: 15vw; vertical-align: middle; box-sizing:border-box; background-color:transparent }
header .btn_login { background: url(../images/ico_login.svg) no-repeat center /45% auto; }
header .btn_menu { background: url(../images/btn_menu02.svg) no-repeat center/ 40% auto}


footer { border-top: 1px solid #e2e5e6;   background: #eef1f2; font-size: 3.6vw; color: var(--gray150); text-transform: uppercase; font-family: 'NanumSquareR'}
footer .list_policy { border-bottom: 1px solid #e2e5e6}
footer .list_policy li { float: left; padding: 0 4vw 0 0}
footer .list_policy li a { display: inline-block; height: 15.55vw; line-height: 18.55vw; color: var(--gray150);}
footer .btm { padding: 5.55vw 0 6.94vw;}
footer .btm > p { padding: 6.94vw 0}

section { padding-bottom: 8.33vw; background: #fff; line-height: 1; box-sizing: border-box;}
main { padding-top: 15vw; background: #efeff0}


/* box */
.bx_gray { padding: 8.33vw 6.94vw 2.77vw; box-sizing: border-box; background: #f8f8f9; border: 1px solid #ddd; border-radius: 1.38vw;}
.bx_gray.bx_list { padding: 2.77vw}
.bx_gray.bx_list li ~ li { margin: 2.77vw 0 0}

/* list_type1 */
.list_type1 li { padding: 0 0 var(--px20);}
.list_type1 li:last-child { padding-bottom: 0}
.list_type1 li > p { padding: 0 0 2.77vw}
.list_type1 li > p label { font-size: var(--px14); color: #000; font-family: 'NanumSquareB'}
.list_type1 li input { padding: 0 0 0 var(--px14); height: 12.77vw; width: 100%; line-height: 12.77vw; background: #f6f6f6; border: 1px solid #ddd; color: #000; border-radius: 1.38vw; box-sizing: border-box; font-size: var(--px15)}
.list_type1 li input::placeholder,
.list_type1 li input::-webkit-input-placeholder { color: var(--gray150); font-size: var(--px14); letter-spacing: -0.5px}
.list_type1 .color_red { font-size: 2.9vw; letter-spacing: -1px; padding: 0 0 0 2.77vw; white-space: nowrap;}

/* list_type2 */
.list_type2 {  font-size: 3.88vw; color: var(--gray50);}
.list_type2 li { padding: 0 0 5vw; }
.list_type2 li > p { display: inline-block; width: 40vw; font-family: 'NanumSquareEB'; }

/* list_notice */
.wrap_notice .h_type3 { padding: 0 0 6.94vw; color: var(--gray50); font-size: var(--px15); font-family: 'NanumSquareB'}
.list_notice > li { position: relative; padding-left: 2.77vw; padding-bottom: 2.77vw; font-size: var(--px13);}
.list_notice > li p { line-height: 5.3vw;}
.list_notice > li p strong { font-family: 'NanumSquareB'}
.list_notice > li p:before { position: absolute; content:"- "; left: 0; display: inline-block; vertical-align: middle;}
.list_notice > li.none { padding-left: 0}
.list_notice > li.none p:before { display: none;}
.list_notice > li small { display: block;}

/* list_num */
.list_num { counter-reset: num;}
.list_num li { padding-left:5vw; position: relative; box-sizing: border-box;}
.list_num li p:before { content:counters(num,"")". "; counter-increment: num; position: absolute; left: 0}

/*  list_fold*/
.list_fold > li > a { position: relative; display: block; padding: 0 5.55vw; height: 13.88vw; line-height: 13.88vw; box-sizing: border-box; font-size: var(--px14)}
.list_fold > li > a:after { content:""; position: absolute; right: 8vw; top:50%; transform: translateY(-50%); width: 4vw; height: 3vw; background: url(../images/ico_arr_btm_sel.png) no-repeat center / 100% auto; transition: all .5s;}
.list_fold > li.none > a:after { display: none;}
.list_fold > li > a.on:after { transform:translateY(-50%) rotate(180deg);}
.list_fold > li > a > p { border-top: 1px solid #ddd; }
.list_fold > li > a > p span { display: block; width: 90%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.list_fold > li:last-child > a > p { border-bottom: 1px solid #ddd}
.list_fold > li > div { display: none; padding: 4vw 9.55vw; background: #f8f8f9; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin-bottom:-1px; position: relative; box-sizing: border-box; font-size: var(--px13); line-height: 1.5; color: var(--gray50)}




/* popup*/
.pop_type1 { position:fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,0.5); z-index: 100; font-family: 'NanumSquareR'; display: none;}
.pop_type1.on { display: block;}
.pop_type1 > div { position: absolute; top:50%; left: 50%; padding: var(--px20) 4vw; width: 91vw; transform: translate(-50%, -50%); background: #fff; border-radius: 1.5vw; box-sizing: border-box;}
.pop_type1 > div > .btn_close { position: absolute; right: 1.5vw; top: 1.5vw; width:10vw ; height: 10vw;  background: url(../images/ico_x.svg) no-repeat center / 50% auto}
.pop_org > div { padding: 0; background: linear-gradient(to bottom, var(--org), var(--org) 13.88vw, #fff 13.88vw, #fff)}
.pop_org > div h3 { color: #fff; text-align: center; height: 13.88vw; line-height: 13.88vw; font-size: var(--px16); font-weight: normal; font-family: 'NanumSquareB'}
.pop_org.pop_type1 > div > .btn_close { background-image:url(../images/ico_x_w.svg);}

.pop_scan > div > div { padding: 10vw 0}
.pop_scan .wrap_img { margin: 0 auto; width: 60vw; }





/* idx main */
/* sec_myInfo */

.sec_myInfo { padding-top: 6.94vw; padding-bottom: 6.94vw;}
.sec_myInfo .bx_info > p { padding: 0 0 6.3vw; font-family: 'NanumSquareEB'; font-size:4.16vw ; color: var(--gray150); }
.sec_myInfo .bx_info > p span { font-size: 5.55vw;}
.sec_myInfo .bx_ask { padding-top: 5.55vw;}
.sec_myInfo .bx_ask li a { display: block; line-height: 11.11vw; width: 41.66vw; box-sizing: border-box; }

.sec_win { padding-top: 6.94vw; text-align: center;}
.sec_win .h_type1 { padding-bottom: var(--px20)}
.sec_win .bx_gray { padding: 0; }
.sec_win .bx_gray p { font-size:6.38vw ; color:var(--gray150) ; font-family: 'NanumSquareEB'; letter-spacing: -1px; text-align: center; height: 28.33vw; line-height: 28.33vw}
.sec_win .bx_gray p span { font-size: 8.33vw; }
.sec_win .bx_status span { font-size: var(--px14);}
.sec_win .btn_org { margin: var(--px20) 0;}
.sec_win .btn_scan { font-size: var(--px18); margin: 8.33vw 0 0}

.sec_common { padding-top: var(--px20); padding-bottom: 6.94vw; text-align: center;}
.sec_common .bx_gray { padding: var(--px20) 5vw 4.72vw !important; line-height: 1}
.sec_common .bx_gray > p { padding: 0 0 2.77vw; font-size: var(--px16); color: var(--gray50); font-family: 'NanumSquareB';}
.sec_common .bx_gray > span { font-size: var(--px13); color: var(--gray50); line-height: 1.5}
.sec_common > .link_direct { display: inline-block; margin: var(--px20) 0 0; }


/* wrap_paging */
.wrap_paging { display: table; position: relative; margin: 0 auto; padding: 0 11.5vw; }
.wrap_paging > button { position: absolute; top: 0; background: url(../images/ico_arr_btm_sel.png) no-repeat center / 40% auto}
.wrap_paging > .btn_prev { left: 0; transform: rotate(90deg);}
.wrap_paging > .btn_next { right: 0; transform: rotate(-90deg);}
.wrap_paging button,
.wrap_paging a { display: block; height: 9.72vw; line-height: 9.72vw; width: 9.72vw; border: 1px solid #ddd; background-color: #fff; box-sizing: border-box; border-radius: 1.38vw; color: var(--gray150); text-align: center; font-size: var(--px14)}
.wrap_paging ol { display: table; margin: 0 auto;}
.wrap_paging ol li { float: left;}
.wrap_paging ol li a.on { border-color: var(--org); color: var(--org)}
.wrap_paging ol li ~ li { margin-left: 1.38vw}





























/*  */
