
.sec_intro { padding-top: var(--px20)}
.sec_intro > .bx_gray { padding: 0; height: 28.33vw; text-align: center;}
.sec_intro > .bx_gray img {width: 45vw;}
.sec_intro > p { padding-top: var(--px20); font-size: var(--px13); color: var(--gray50); line-height: 1.7; letter-spacing: -0.5px}


.sec_process { padding-top:12.5vw; }
.sec_process > .h_type1 { padding-bottom: 6.11vw}
.list_step { margin: 0 auto; font-size: 0; line-height: 1}
.list_step li { float: left; padding-bottom: var(--px20); width: 33.33%; text-align: center; position: relative;}
.list_step li ~ li p:before { content:""; display: block; position: absolute; top: 10vw; left: 0; transform: translateY(-50%) translateX(-50%); width: 2.5vw; height: 3vw; background: url(../images/ico_arr_right.svg) no-repeat center / 100% auto;}
.list_step li.break p:before { display: none;}
.list_step li > p { display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 0 auto 2.77vw; width: 21vw; height: 21vw; background: #f5f5f5; border: 1px solid #e1e1e1; border-radius: 100%; font-size: var(--px14); color: var(--gray50); font-family: 'NanumSquareB'; line-height: 1.4;  vertical-align: middle; box-sizing: border-box;}
.list_step li > p.on { border: none; background: var(--org); color: #fff;}
.list_step li > span { font-family: 'NanumSquareR'; color: var(--gray150); font-size: var(--px13); line-height: 1.3; letter-spacing: -0.75px}

/* 서비스소개 */

.sec_intro_game > div { display: flex;; align-items: center; justify-content:center; background: #eee; height: 36.11vw;}
.sec_intro_game > p { padding-top: 9.72vw; padding-bottom: 10vw; font-size: var(--px14); font-family: 'NanumSquareR'; line-height: 1.5}
.sec_how .h_type1 { padding: 0 0 var(--px18)}
.sec_how .descript { padding: 7.77vw 0 0}
.sec_how .descript > p.txt_type1 { padding: var(--px20) 0 0}
.sec_how .descript .wrap_img { padding: var(--px20) 0; width: 77.77vw;}
.sec_how .descript ul li { padding-bottom: 2.77vw;}

.sec_details { padding-top: 5vw;}
.bx_ticket { padding-bottom: 5vw; border-radius: 3px; margin-bottom: 10vw; padding-top: 27.77vw; background: url(../images/img_bg_game.png) no-repeat top center /100% auto ; box-shadow: 0 0.5vw 1.6vw 0 rgb(0 0 0 / 15%); font-family: 'NanumSquareR'}
.bx_ticket > div { padding-top: var(--px20)}
.bx_ticket > div > p { padding: 0 0 var(--px15) ; font-size: 4.2vw; color: var(--gray50); font-family: 'NanumSquareR'; font-weight: bold;}
.bx_ticket > div > p span { padding-left: 5px; color: var(--gray150); font-size: 2.5vw;}
.bx_ticket ul li { float: left; padding: 0 2vw 0 0; width: 33.333%; font-weight: 700; box-sizing: border-box;}
.bx_ticket ul li > p { padding: 0 0 2.22vw; color: var(--gray150); font-size: var(--px13)}
.bx_ticket ul li > div { color: var(--gray50); font-size: var(--px15); line-height: 1.3}
.sec_details .bx_logo { margin: 0 auto; width: 58.33vw;}
.sec_details .link_chk_mega_ca { display: block; margin-top: 10vw;  font-size: var(--px16)}


/* mypage */
.sec_mypage { padding-top: 15vw; padding-bottom: 15vw; font-family: 'NanumSquareR'; }
.sec_chgPw, .sec_del, .sec_ { padding-top: 6.94vw; }
.sec_chgId .h_type1,
.sec_agree .h_type1 { padding-top: var(--px20); padding-bottom: 4.72vw}
.sec_chgId > p,
.sec_agree > p { font-size: var(--px14); color: var(--gray50); line-height: 1.8; letter-spacing: -1px}
.list_chk { padding: var(--px20) 0 0}
.list_chk li { float: left; width: 50%; text-align: center; box-sizing: border-box; font-size: var(--px14)}
.list_chk li label { display: inline-block; padding:1.5vw 0; }

/* login.html */
.sec_login .bx_logo { margin: 0 auto; padding: 18.05vw 0 13.88vw; width: 48.6vw;}
.sec_login .flex_space { padding: var(--px20) 0 0}


/* find_pw.html */
.sec_find .bx_txt { text-align: center; padding: 9.1vw 0; background: #fff}
.sec_find .txt_type1 > p { padding: 0 0 var(--px20)}
.sec_find .txt_type1 > span { font-family: 'NanumSquareR'}
.sec_find .form_type1 { padding-top: 6.94vw}
.item_num > div { display: flex;}
.item_num > div input { flex: 1;}
.item_num > div button {  margin-left: 2.7vw;}


/*apply_refund.html */
.sec_refund .h_type1 { padding: 6.94vw 0 var(--px20)}
.sec_refund .list_step { padding: var(--px20) 0 0}
.sec_refund .list_step li > p { font-size: var(--px15); color: var(--gray150)}
.sec_refund .list_step li > p.on { color: #fff}
.sec_refund .list_step li > p span { display: block; padding: 0 0 0.5vw}
.sec_refund .bx_txt h3 { padding: 9.72vw 0 var(--px20); font-size: var(--px15); color: var(--gray50); font-weight: normal; font-family: 'NanumSquareB'}
.sec_refund .list_notice { opacity: 0.7}
.bx_gray .list_type1 li { padding: 0}
.bx_gray .list_type1 li input { background: #fff}


/* view_refund.html*/
.sec_view .bx_gray .item_date span { padding: 0 1.5vw}
.sec_view ul.flex_space { padding: 11.11vw 0 0}
.sec_view ul.flex_space li { width: 50%; box-sizing: border-box; text-align: center;}
::-webkit-calendar-picker-indicator {
  margin-right: 1.8vw;
    background: url(../images/ico_date.svg) no-repeat center / 95% auto;
    width: var(--px15);
    height: var(--px18);
}

/* guide_refund.html */
.sec_step_refund .bx_tab > p { padding: 8.33vw 0; font-size: var(--px15); color: var(--gray50); font-family: 'NanumSquareB'}


/* drawing =====================*/
/* result.html */
/* .sec_draw { padding-bottom: 0} */
.sec_draw .tab_type2 li.on > * { color: #fff}
.sec_draw .tab_type2 li:first-child.on > * { background: var(--mega); }
.sec_draw .tab_type2 li:last-child.on > * { background: var(--power); }
.sec_draw .bx_logo { margin: 10vw auto var(--px20); width: 50vw;}
.sec_draw .list_time { display: table; margin: 0 auto; padding: 0 0 var(--px13) ;}
.sec_draw .list_time li { padding: 0 0 2vw; color: #000; font-size: var(--px13);}
.sec_draw .list_time li > div { display: inline-block; padding:0 0 0 2vw; color: var(--gray150);}
.sec_draw .list_ball { padding: 0 var(--px15);}


.wrap_result { background:#efeff0 }
.list_result > li { padding-top: var(--px18)}
.list_result > li > p.title { padding: 0 0 var(--px13); font-family: 'NanumSquareB'; font-size: var(--px15)}
.list_result .list_info { display: flex; justify-content: space-between; align-items: center; padding: 0 0 6.94vw; font-size: var(--px13); color: #000; }
.list_result .list_info li span { padding-left: 1vw; color: var(--gray150); letter-spacing: -0.7px}
.list_result > li { padding-bottom: 6.94vw; margin-bottom: 2.77vw; box-shadow: 0px 1px 1px rgb(0 0 0 / 10%); background: #fff; }
.sec_draw .list_result .list_ball li { width: 6.94vw; height: 6.94vw; line-height: 6.94vw; font-size: var(--px13);}
.sec_draw .list_result .list_ball { padding: 0}
.list_result .bx_prize:after { display: block; content:""; clear:both;}
.list_result .bx_prize > * { float: left; width: 50%; box-sizing: border-box;}
.list_result .bx_prize > div { text-align: right; font-size:0; color: #000; letter-spacing: -1px}
.list_result .bx_prize > div > p { padding: 0.7vw 0 1.4vw; font-size:  4.7vw; font-family: 'NanumSquareB'}
.list_result .bx_prize > div > p:before { content:"\005C"; display: inline-block;}
.list_result .bx_prize > div > span { color: var(--gray150); font-size: var(--px14)}
.list_result .bx_prize > div > span:before {content:"\0024"; display: inline-block; }
.btn_more { display: block; width: 100%; text-align: center; height: 13.88vw; background: #fff; font-size: var(--px15); font-family: 'NanumSquareB'}
.btn_more:after { content:""; margin-left: 1vw; display: inline-block; vertical-align:middle; width: 2.3vw; height: 3vw; background: url(../images/ico_arr_btm.svg) no-repeat center / 100% auto}

/* 상세보기 팝업*/
.pop_draw { line-height: 1}
.pop_draw .bx_txt { text-align: center; font-family: 'NanumSquareB'}
.pop_draw .bx_txt > span { color:var(--gray150); font-size: var(--px13); }
.pop_draw .bx_txt > p { padding: 2vw 0 0; font-size: var(--px13); color: var(--gray50); line-height: 1.5}
.pop_draw .list_ball { margin: var(--px20) auto; width: 43vw;}
.pop_draw .h_type1 { padding: var(--px20) 0}
.wrap_tb { width: 100%; height:56.5vw; overflow: scroll;}
.tb_type1 { min-width: 100%; width:auto; border-radius: 5px 5px 0 0; overflow:hidden;}
.tb_type1 thead {  background: var(--org); font-size: 3.5vw; }
.tb_type1 tbody tr { border-bottom: 1px solid #ddd}
.tb_type1 th { padding: 1.5vw 0.5vw; color: #fff; font-family: 'NanumSquareB';}
.tb_type1 td { padding: 0.5vw 1.5vw; font-size: 3vw; text-align: center; height: 10vw; white-space: nowrap;}
.pop_draw .tb_type1 tbody td:nth-child(3) p:before { content:"\0024"}

/* 추첨 영상 팝업 */
.pop_video .bx_txt { padding: var(--px20); text-align: center; font-family: 'NanumSquareB' }
.pop_video .bx_txt > p { padding: 0 0 1.5vw; font-size: var(--px16); }
.pop_video .bx_txt > span { color: var(--gray150); font-size: var(--px13)}
.wrap_iframe { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; line-height: 1; font-size: 0}
.wrap_iframe iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.list_ball { display: flex; justify-content: space-between; align-items: center;}
.list_ball li { width: 12.5vw; height: 12.5vw; line-height: 13vw; border: 1px solid var(--gray150); font-size: var(--px20); color: var(--gray50); box-sizing: border-box; font-family: 'NanumSquareEB'; border-radius: 100%; text-align: center;  }
.list_ball li.power { background: var(--power); border:none; color: #fff !important;}
.list_ball li.mega { background: var(--mega); border:none; color: #fff !important;}
.list_ball.type2 li { width: 6.94vw; height: 6.94vw; line-height: 6.94vw; font-size: var(--px13);}
.list_ball.type2 { padding: 0}

/* schedule_upload.html */
.sec_upload .h_type1 { padding-bottom: var(--px20)}
.sec_upload .bx_gray > li { float: left; width: 50%; box-sizing: border-box; text-align: center; font-size: var(--px13); line-height: 1.3}
.sec_upload .bx_gray > li span { letter-spacing: -0.5px;}
.sec_upload .bx_gray > li img { display: inline-block; margin: 5.5vw 0 2vw; width: 12vw;}


/* history.html */
.sec_history .bx_prize > p { font-size: 4vw}
.sec_history .bx_prize > p > span { padding-left: 1.5vw; font-size: 4vw; color: var(--gray150)}
.color_gray { color:var(--gray150) !important}
.sec_history .item_win .bx_prize > p > span { color: var(--org)}
.sec_history .item_win .bx_prize > div { color: var(--org)}

/* popup */

.pop_history .list_info { padding: 0 0 2.5vw; font-size: var(--px13)}
.pop_history .list_info > li { padding-right: 6.94vw; float: left}
.pop_history .list_info > li span { padding-left: 1.5vw; color: var(--gray150)}
.pop_history.pop_type1 > div > div { padding-bottom: var(--px20)}
.pop_history ol { max-height: 70vw; overflow: scroll;}
.pop_history ol > li { padding:var(--px16) 0; }
.pop_history ol > li ~ li { border-top: 1px solid #ddd}
/* cs================================== */

/* business.html */
.sec_business .bx_gray { letter-spacing: -0.8px; line-height: 1.3}
.sec_business .bx_gray > span { white-space: nowrap;}
.sec_business .bx_gray .color_gray { display: block; padding: var(--px15) 0 0}

/* notice.html */
.sec_notice h3.color_org { font-size: var(--px15); height: 17.77vw; line-height: 17.77vw;}
.sec_notice .wrap_paging { margin-top: 8.33vw}

/* direct.html */
h3.color_org { font-weight: normal; font-family: 'NanumSquareB'}
.sec_direct .bx_gray > p { line-height: 1.3}
.sec_direct .bx_gray > p span { font-size: var(--px14)}
.sec_direct.write { text-align: left;}
.sec_direct h3.color_org,
.sec_faq h3.color_org { height: 17.77vw; line-height: 18.77vw; font-size: var(--px15);}
.sec_direct .wrap_paging, .sec_faq .wrap_paging { margin-top: 8.33vw}
.sec_direct .list_fold > li > div > span { display: block; padding: var(--px13) 0 var(--px20);font-family: 'NanumSquareB'; color:#000}
.sec_direct .list_fold > li > div > span:before { content:"Q."; display: inline-block; margin-right: 1.5vw; }
.list_fold > li > div > p { padding-top: var(--px20); color: var(--gray150); font-size: var(--px13)}


/* faq.html */
.sec_faq .list_fold > li a > p > span:before { content:"Q."; margin-right: 1.5vw; display: inline-block; font-family: 'NanumSquareB'; font-size: var(--px16)}
.sec_status { padding: 2.8vw; background: url(../images/img_bg_02.jpg) no-repeat center / cover; color: #fff; font-size: var(--px13); line-height: 1; box-sizing: border-box;}
.sec_status > ul > li { padding:7.03vw 3% 3.98vw; border: 2px solid #fff; border-radius: 1.38vw; width: 48.5%; box-sizing: border-box;}
.sec_status .bx_prize { text-align: center; letter-spacing: -0.3vw; }
.sec_status .bx_prize strong { font-family: 'Montserrat',sans-serif; font-weight: 800; letter-spacing: -0.75px; font-size: var(--px16); white-space: nowrap;}
.sec_status .now .won { padding: var(--px13) 0 0.5vw; font-size: var(--px16); color: var(--gray150); font-family: 'NanumSquareB'; white-space: nowrap;}
.sec_status .last:before { content:""; display: block; margin:var(--px15) 0 0; height: 1px; background: #fff; width: 100%;}
.sec_status .last .h_type4 { padding-bottom: 3.5vw;}
.sec_status .last .list_info li { font-size: 3vw;}
.sec_status .last .list_info li p { padding:  1.2vw 0 3vw}
.sec_status .last .list_info li > span { color: var(--gray150); font-family: 'NanumSquareB'; font-size: 3.2vw }
.sec_status .list_ball { padding: 1vw 0 0}
.sec_status .list_ball li { width: 6vw; height: 6vw; line-height: 6vw; font-size: 2.8vw; color: var(--gray150)}


.sec_status .list_time {display: flex; justify-content: space-between; font-size: 0; }
.sec_status .list_time > li { position: relative; display: inline-block; text-align: center; font-size: 0; line-height: 1;}
.sec_status .list_time > li span:nth-child(2) { margin-left: 2px}
.sec_status .list_time > li:after { position: absolute; left: 50%; transform: translateX(-50%); bottom: -3vw; color: #fff; font-size: 2vw; }
.sec_status .list_time > .item_day:after { content: "날짜";}
.sec_status .list_time > .item_hours:after { content: "시간";}
.sec_status .list_time > .item_min:after { content: "분";}
.sec_status .list_time > .item_sec:after { content: "초";}
.sec_status .list_time > li span { display: inline-block; width: 3.7vw; height: 4.35vw; background: #000; border: 1px solid #313131; font-size: 2.3vw; line-height: 4.5vw; box-sizing: border-box; color: #fff; font-weight: 600;}
.bx_drawtime { padding: var(--px15) 0 0;}
.bx_drawtime span { font-size: 3vw}
.won:before,
.dollar:before { display: inline-block; margin-right: 1vw;}
.won:before { content:"\005C"; }
.dollar:before { content:"\0024"; }
.h_type4 { padding: var(--px18) 0 1.5vw; font-size: var(--px13); font-family: 'NanumSquareB'; color: #ffa500}
